openapi: 3.0.1
info:
  title: Twilio - Accounts A2p Rate Limits API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Rate Limits
  description: Configure rate limiting for verification requests
paths:
  /Services/{ServiceSid}/RateLimits:
    get:
      operationId: listRateLimits
      summary: Twilio List Rate Limits
      tags:
      - Rate Limits
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      responses:
        '200':
          description: List of rate limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitList'
    post:
      operationId: createRateLimit
      summary: Twilio Create a Rate Limit
      tags:
      - Rate Limits
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - UniqueName
              properties:
                UniqueName:
                  type: string
                  description: Unique name for the rate limit
                Description:
                  type: string
      responses:
        '201':
          description: Rate limit created
  /Services/{ServiceSid}/RateLimits/{RateLimitSid}/Buckets:
    get:
      operationId: listBuckets
      summary: Twilio List Rate Limit Buckets
      tags:
      - Rate Limits
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      - name: RateLimitSid
        in: path
        required: true
        schema:
          type: string
          pattern: ^RK[0-9a-fA-F]{32}$
      responses:
        '200':
          description: List of buckets
    post:
      operationId: createBucket
      summary: Twilio Create a Rate Limit Bucket
      tags:
      - Rate Limits
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      - name: RateLimitSid
        in: path
        required: true
        schema:
          type: string
          pattern: ^RK[0-9a-fA-F]{32}$
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - Max
              - Interval
              properties:
                Max:
                  type: integer
                  description: Maximum number of requests
                Interval:
                  type: integer
                  description: Time window in seconds
      responses:
        '201':
          description: Bucket created
components:
  schemas:
    RateLimitList:
      type: object
      properties:
        rate_limits:
          type: array
          items:
            type: object
            properties:
              sid:
                type: string
                pattern: ^RK[0-9a-fA-F]{32}$
              service_sid:
                type: string
              unique_name:
                type: string
              description:
                type: string
              date_created:
                type: string
                format: date-time
              date_updated:
                type: string
                format: date-time
              url:
                type: string
                format: uri
              links:
                type: object
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        page_size:
          type: integer
        first_page_url:
          type: string
          format: uri
        previous_page_url:
          type: string
          format: uri
        next_page_url:
          type: string
          format: uri
        url:
          type: string
          format: uri
        key:
          type: string
  parameters:
    ServiceSid:
      name: ServiceSid
      in: path
      required: true
      description: The SID of the Verify service
      schema:
        type: string
        pattern: ^VA[0-9a-fA-F]{32}$
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
