openapi: 3.0.1
info:
  title: Twilio - Accounts A2p Tollfree API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Tollfree
paths:
  /v1/Tollfree/Verifications/{Sid}:
    servers:
    - url: https://messaging.twilio.com
    description: A Messaging resource to add and fetch Tollfree Verifications.
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      pathType: instance
      mountName: tollfree_verifications
    get:
      description: ''
      tags:
      - Tollfree
      parameters:
      - name: Sid
        in: path
        description: The unique string to identify Tollfree Verification.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HH[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.tollfree_verification'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchTollfreeVerification
      x-maturity:
      - Beta
    post:
      description: ''
      tags:
      - Tollfree
      parameters:
      - name: Sid
        in: path
        description: The unique string to identify Tollfree Verification.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HH[0-9a-fA-F]{32}$
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.tollfree_verification'
          description: Accepted
      security:
      - accountSid_authToken: []
      operationId: UpdateTollfreeVerification
      x-maturity:
      - Beta
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateTollfreeVerificationRequest'
    delete:
      description: ''
      tags:
      - Tollfree
      parameters:
      - name: Sid
        in: path
        description: The unique string to identify Tollfree Verification.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HH[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteTollfreeVerification
      x-maturity:
      - Beta
  /v1/Tollfree/Verifications:
    servers:
    - url: https://messaging.twilio.com
    description: A Messaging resource to add and fetch Tollfree Verifications.
    x-twilio:
      defaultOutputProperties:
      - sid
      - date_created
      pathType: list
      mountName: tollfree_verifications
    get:
      description: ''
      tags:
      - Tollfree
      parameters:
      - name: TollfreePhoneNumberSid
        in: query
        description: The SID of the Phone Number associated with the Tollfree Verification.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
      - name: Status
        in: query
        description: The compliance status of the Tollfree Verification record.
        schema:
          type: string
          $ref: '#/components/schemas/tollfree_verification_enum_status'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTollfreeVerificationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListTollfreeVerification
      x-maturity:
      - Beta
    post:
      description: ''
      tags:
      - Tollfree
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.tollfree_verification'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateTollfreeVerification
      x-maturity:
      - Beta
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateTollfreeVerificationRequest'
components:
  schemas:
    tollfree_verification_enum_status:
      type: string
      enum:
      - PENDING_REVIEW
      - IN_REVIEW
      - TWILIO_APPROVED
      - TWILIO_REJECTED
    messaging.v1.tollfree_verification:
      type: object
      properties:
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HH[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string to identify Tollfree Verification.
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Tollfree Verification resource.
        customer_profile_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BU[0-9a-fA-F]{32}$
          nullable: true
          description: Customer's Profile Bundle BundleSid.
        trust_product_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BU[0-9a-fA-F]{32}$
          nullable: true
          description: Tollfree TrustProduct Bundle BundleSid.
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        regulated_item_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RA[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the Regulated Item.
        business_name:
          type: string
          nullable: true
          description: The name of the business or organization using the Tollfree number.
        business_street_address:
          type: string
          nullable: true
          description: The address of the business or organization using the Tollfree number.
        business_street_address2:
          type: string
          nullable: true
          description: The address of the business or organization using the Tollfree number.
        business_city:
          type: string
          nullable: true
          description: The city of the business or organization using the Tollfree number.
        business_state_province_region:
          type: string
          nullable: true
          description: The state/province/region of the business or organization using the Tollfree number.
        business_postal_code:
          type: string
          nullable: true
          description: The postal code of the business or organization using the Tollfree number.
        business_country:
          type: string
          nullable: true
          description: The country of the business or organization using the Tollfree number.
        business_website:
          type: string
          nullable: true
          description: The website of the business or organization using the Tollfree number.
        business_contact_first_name:
          type: string
          nullable: true
          description: The first name of the contact for the business or organization using the Tollfree number.
        business_contact_last_name:
          type: string
          nullable: true
          description: The last name of the contact for the business or organization using the Tollfree number.
        business_contact_email:
          type: string
          nullable: true
          description: The email address of the contact for the business or organization using the Tollfree number.
        business_contact_phone:
          type: string
          format: phone-number
          nullable: true
          description: The phone number of the contact for the business or organization using the Tollfree number.
        notification_email:
          type: string
          nullable: true
          description: The email address to receive the notification about the verification result. .
        use_case_categories:
          type: array
          items:
            type: string
          nullable: true
          description: The category of the use case for the Tollfree Number. List as many are applicable..
        use_case_summary:
          type: string
          nullable: true
          description: Use this to further explain how messaging is used by the business or organization.
        production_message_sample:
          type: string
          nullable: true
          description: An example of message content, i.e. a sample message.
        opt_in_image_urls:
          type: array
          items:
            type: string
          nullable: true
          description: Link to an image that shows the opt-in workflow. Multiple images allowed and must be a publicly hosted URL.
        opt_in_type:
          type: string
          $ref: '#/components/schemas/tollfree_verification_enum_opt_in_type'
          nullable: true
          description: Describe how a user opts-in to text messages.
        message_volume:
          type: string
          nullable: true
          description: Estimate monthly volume of messages from the Tollfree Number.
        additional_information:
          type: string
          nullable: true
          description: Additional information to be provided for verification.
        tollfree_phone_number_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the Phone Number associated with the Tollfree Verification.
        status:
          type: string
          $ref: '#/components/schemas/tollfree_verification_enum_status'
          nullable: true
          description: The compliance status of the Tollfree Verification record.
        url:
          type: string
          format: uri
          nullable: true
          description: The absolute URL of the Tollfree Verification resource.
        rejection_reason:
          type: string
          nullable: true
          description: The rejection reason given when a Tollfree Verification has been rejected.
        error_code:
          type: integer
          nullable: true
          description: The error code given when a Tollfree Verification has been rejected.
        edit_expiration:
          type: string
          format: date-time
          nullable: true
          description: The date and time when the ability to edit a rejected verification expires.
        edit_allowed:
          type: boolean
          nullable: true
          description: If a rejected verification is allowed to be edited/resubmitted. Some rejection reasons allow editing and some do not.
        resource_links:
          nullable: true
          description: The URLs of the documents associated with the Tollfree Verification resource.
        external_reference_id:
          type: string
          nullable: true
          description: An optional external reference ID supplied by customer and echoed back on status retrieval.
    tollfree_verification_enum_opt_in_type:
      type: string
      enum:
      - VERBAL
      - WEB_FORM
      - PAPER_FORM
      - VIA_TEXT
      - MOBILE_QR_CODE
    ListTollfreeVerificationResponse:
      type: object
      properties:
        verifications:
          type: array
          items:
            $ref: '#/components/schemas/messaging.v1.tollfree_verification'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type: string
              format: uri
              nullable: true
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type: string
              format: uri
              nullable: true
            url:
              type: string
              format: uri
            key:
              type: string
    UpdateTollfreeVerificationRequest:
      type: object
      properties:
        BusinessName:
          type: string
          description: The name of the business or organization using the Tollfree number.
        BusinessWebsite:
          type: string
          description: The website of the business or organization using the Tollfree number.
        NotificationEmail:
          type: string
          description: The email address to receive the notification about the verification result. .
        UseCaseCategories:
          type: array
          items:
            type: string
          description: The category of the use case for the Tollfree Number. List as many are applicable..
        UseCaseSummary:
          type: string
          description: Use this to further explain how messaging is used by the business or organization.
        ProductionMessageSample:
          type: string
          description: An example of message content, i.e. a sample message.
        OptInImageUrls:
          type: array
          items:
            type: string
          description: Link to an image that shows the opt-in workflow. Multiple images allowed and must be a publicly hosted URL.
        OptInType:
          type: string
          $ref: '#/components/schemas/tollfree_verification_enum_opt_in_type'
          description: Describe how a user opts-in to text messages.
        MessageVolume:
          type: string
          description: Estimate monthly volume of messages from the Tollfree Number.
        BusinessStreetAddress:
          type: string
          description: The address of the business or organization using the Tollfree number.
        BusinessStreetAddress2:
          type: string
          description: The address of the business or organization using the Tollfree number.
        BusinessCity:
          type: string
          description: The city of the business or organization using the Tollfree number.
        BusinessStateProvinceRegion:
          type: string
          description: The state/province/region of the business or organization using the Tollfree number.
        BusinessPostalCode:
          type: string
          description: The postal code of the business or organization using the Tollfree number.
        BusinessCountry:
          type: string
          description: The country of the business or organization using the Tollfree number.
        AdditionalInformation:
          type: string
          description: Additional information to be provided for verification.
        BusinessContactFirstName:
          type: string
          description: The first name of the contact for the business or organization using the Tollfree number.
        BusinessContactLastName:
          type: string
          description: The last name of the contact for the business or organization using the Tollfree number.
        BusinessContactEmail:
          type: string
          description: The email address of the contact for the business or organization using the Tollfree number.
        BusinessContactPhone:
          type: string
          format: phone-number
          description: The phone number of the contact for the business or organization using the Tollfree number.
        EditReason:
          type: string
          description: Describe why the verification is being edited. If the verification was rejected because of a technical issue, such as the website being down, and the issue has been resolved this parameter should be set to something similar to 'Website fixed'.
    CreateTollfreeVerificationRequest:
      type: object
      required:
      - BusinessName
      - BusinessWebsite
      - NotificationEmail
      - UseCaseCategories
      - UseCaseSummary
      - ProductionMessageSample
      - OptInImageUrls
      - OptInType
      - MessageVolume
      - TollfreePhoneNumberSid
      properties:
        BusinessName:
          type: string
          description: The name of the business or organization using the Tollfree number.
        BusinessWebsite:
          type: string
          description: The website of the business or organization using the Tollfree number.
        NotificationEmail:
          type: string
          description: The email address to receive the notification about the verification result. .
        UseCaseCategories:
          type: array
          items:
            type: string
          description: The category of the use case for the Tollfree Number. List as many are applicable..
        UseCaseSummary:
          type: string
          description: Use this to further explain how messaging is used by the business or organization.
        ProductionMessageSample:
          type: string
          description: An example of message content, i.e. a sample message.
        OptInImageUrls:
          type: array
          items:
            type: string
          description: Link to an image that shows the opt-in workflow. Multiple images allowed and must be a publicly hosted URL.
        OptInType:
          type: string
          $ref: '#/components/schemas/tollfree_verification_enum_opt_in_type'
          description: Describe how a user opts-in to text messages.
        MessageVolume:
          type: string
          description: Estimate monthly volume of messages from the Tollfree Number.
        TollfreePhoneNumberSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
          description: The SID of the Phone Number associated with the Tollfree Verification.
        CustomerProfileSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BU[0-9a-fA-F]{32}$
          description: Customer's Profile Bundle BundleSid.
        BusinessStreetAddress:
          type: string
          description: The address of the business or organization using the Tollfree number.
        BusinessStreetAddress2:
          type: string
          description: The address of the business or organization using the Tollfree number.
        BusinessCity:
          type: string
          description: The city of the business or organization using the Tollfree number.
        BusinessStateProvinceRegion:
          type: string
          description: The state/province/region of the business or organization using the Tollfree number.
        BusinessPostalCode:
          type: string
          description: The postal code of the business or organization using the Tollfree number.
        BusinessCountry:
          type: string
          description: The country of the business or organization using the Tollfree number.
        AdditionalInformation:
          type: string
          description: Additional information to be provided for verification.
        BusinessContactFirstName:
          type: string
          description: The first name of the contact for the business or organization using the Tollfree number.
        BusinessContactLastName:
          type: string
          description: The last name of the contact for the business or organization using the Tollfree number.
        BusinessContactEmail:
          type: string
          description: The email address of the contact for the business or organization using the Tollfree number.
        BusinessContactPhone:
          type: string
          format: phone-number
          description: The phone number of the contact for the business or organization using the Tollfree number.
        ExternalReferenceId:
          type: string
          description: An optional external reference ID supplied by customer and echoed back on status retrieval.
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
