openapi: 3.2.0
info:
  title: Twilio Conversations API
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  x-refined-note:
  - x-twilio differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Conversations across 2 of this provider''s published API definitions: conversations-openapi-original.yml, intelligence-v3-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://conversations.twilio.com
- url: https://intelligence.twilio.com
  description: Twilio Intelligence API
tags:
- name: Conversations
paths:
  /v1/Conversations:
    servers:
    - url: https://conversations.twilio.com
    description: A Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.
    x-twilio:
      defaultOutputProperties:
      - sid
      - chat_service_sid
      - friendly_name
      - date_created
      pathType: list
      dependentProperties:
        participants:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Participants
        messages:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Messages
        webhooks:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Webhooks
    post:
      description: Create a new conversation in your account's default service
      tags:
      - Conversations
      parameters:
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateConversation
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationRequest'
      summary: Create conversation
      x-summary-source: derived
    get:
      description: Retrieve a list of conversations in your account's default service
      tags:
      - Conversations
      parameters:
      - name: StartDate
        in: query
        description: Start date or time in ISO8601 format for filtering list of Conversations. If a date is provided, the start time of the date is used (YYYY-MM-DDT00:00:00Z). Can be combined with other filters.
        schema:
          type: string
      - name: EndDate
        in: query
        description: End date or time in ISO8601 format for filtering list of Conversations. If a date is provided, the end time of the date is used (YYYY-MM-DDT23:59:59Z). Can be combined with other filters.
        schema:
          type: string
      - name: State
        in: query
        description: State for sorting and filtering list of Conversations. Can be `active`, `inactive` or `closed`
        schema:
          type: string
          $ref: '#/components/schemas/conversation_enum_state'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversation
      x-maturity:
      - GA
      summary: List conversation
      x-summary-source: derived
  /v1/Conversations/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.
    x-twilio:
      defaultOutputProperties:
      - sid
      - chat_service_sid
      - friendly_name
      - date_created
      pathType: instance
      dependentProperties:
        participants:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Participants
        messages:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Messages
        webhooks:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Webhooks
    post:
      description: Update an existing conversation in your account's default service
      tags:
      - Conversations
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateConversation
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationRequest'
      summary: Update conversation
      x-summary-source: derived
    delete:
      description: Remove a conversation from your account's default service
      tags:
      - Conversations
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteConversation
      x-maturity:
      - GA
      summary: Delete conversation
      x-summary-source: derived
    get:
      description: Fetch a conversation from your account's default service
      tags:
      - Conversations
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversation
      x-maturity:
      - GA
      summary: Fetch conversation
      x-summary-source: derived
  /v1/Conversations/{ConversationSid}/Messages:
    servers:
    - url: https://conversations.twilio.com
    description: A Message resource represents a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - index
      - author
      - date_created
      pathType: list
      dependentProperties:
        delivery_receipts:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Messages/{message_sid}/Receipts
        channel_metadata:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1None
      parent: /Conversations/{Sid}
    post:
      description: Add a new message to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_message_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateConversationMessage
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationMessageRequest'
      summary: Create conversation message
      x-summary-source: derived
    get:
      description: Retrieve a list of all messages in the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for messages.
        schema:
          type: string
        required: true
      - name: Order
        in: query
        description: 'The sort order of the returned messages. Can be: `asc` (ascending) or `desc` (descending), with `asc` as the default.'
        schema:
          type: string
          $ref: '#/components/schemas/conversation_message_enum_order_type'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationMessageResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversationMessage
      x-maturity:
      - GA
      summary: List conversation message
      x-summary-source: derived
  /v1/Conversations/{ConversationSid}/Messages/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Message resource represents a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - index
      - author
      - date_created
      pathType: instance
      dependentProperties:
        delivery_receipts:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Messages/{message_sid}/Receipts
        channel_metadata:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1None
      parent: /Conversations/{Sid}
    post:
      description: Update an existing message in the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_message_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateConversationMessage
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationMessageRequest'
      summary: Update conversation message
      x-summary-source: derived
    delete:
      description: Remove a message from the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_message_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteConversationMessage
      x-maturity:
      - GA
      summary: Delete conversation message
      x-summary-source: derived
    get:
      description: Fetch a message from the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversationMessage
      x-maturity:
      - GA
      summary: Fetch conversation message
      x-summary-source: derived
  /v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Message Receipt resource represents a delivery/read receipt of a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      pathType: instance
      parent: /Conversations/{ConversationSid}/Messages/{Sid}
      mountName: delivery_receipts
    get:
      description: Fetch the delivery and read receipts of the conversation message
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: MessageSid
        in: path
        description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^DY[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message.conversation_message_receipt'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversationMessageReceipt
      x-maturity:
      - GA
      summary: Fetch conversation message receipt
      x-summary-source: derived
  /v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts:
    servers:
    - url: https://conversations.twilio.com
    description: A Message Receipt resource represents a delivery/read receipt of a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      pathType: list
      parent: /Conversations/{ConversationSid}/Messages/{Sid}
      mountName: delivery_receipts
    get:
      description: Retrieve a list of all delivery and read receipts of the conversation message
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: MessageSid
        in: path
        description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationMessageReceiptResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversationMessageReceipt
      x-maturity:
      - GA
      summary: List conversation message receipt
      x-summary-source: derived
  /v1/Conversations/{ConversationSid}/Participants:
    servers:
    - url: https://conversations.twilio.com
    description: A Participant resource represents a member of the conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - messaging_binding
      pathType: list
      parent: /Conversations/{Sid}
    post:
      description: Add a new participant to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_participant_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateConversationParticipant
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationParticipantRequest'
      summary: Create conversation participant
      x-summary-source: derived
    get:
      description: Retrieve a list of all participants of the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for participants.
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationParticipantResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversationParticipant
      x-maturity:
      - GA
      summary: List conversation participant
      x-summary-source: derived
  /v1/Conversations/{ConversationSid}/Participants/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Participant resource represents a member of the conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - messaging_binding
      pathType: instance
      parent: /Conversations/{Sid}
    post:
      description: Update an existing participant in the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_participant_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateConversationParticipant
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationParticipantRequest'
      summary: Update conversation participant
      x-summary-source: derived
    delete:
      description: Remove a participant from the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_participant_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteConversationParticipant
      x-maturity:
      - GA
      summary: Delete conversation participant
      x-summary-source: derived
    get:
      description: Fetch a participant of the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Alternatively, you can pass a Participant's `identity` rather than the SID.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversationParticipant
      x-maturity:
      - GA
      summary: Fetch conversation participant
      x-summary-source: derived
  /v1/Conversations/{ConversationSid}/Webhooks:
    servers:
    - url: https://conversations.twilio.com
    description: A Scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - target
      pathType: list
      parent: /Conversations/{Sid}
    get:
      description: Retrieve a list of all webhooks scoped to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationScopedWebhookResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversationScopedWebhook
      x-maturity:
      - GA
      summary: List conversation scoped webhook
      x-summary-source: derived
    post:
      description: Create a new webhook scoped to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateConversationScopedWebhook
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationScopedWebhookRequest'
      summary: Create conversation scoped webhook
      x-summary-source: derived
  /v1/Conversations/{ConversationSid}/Webhooks/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - target
      pathType: instance
      parent: /Conversations/{Sid}
    get:
      description: Fetch the configuration of a conversation-scoped webhook
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversationScopedWebhook
      x-maturity:
      - GA
      summary: Fetch conversation scoped webhook
      x-summary-source: derived
    post:
      description: Update an existing conversation-scoped webhook
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateConversationScopedWebhook
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationScopedWebhookRequest'
      summary: Update conversation scoped webhook
      x-summary-source: derived
    delete:
      description: Remove an existing webhook scoped to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteConversationScopedWebhook
      x-maturity:
      - GA
      summary: Delete conversation scoped webhook
      x-summary-source: derived
  /v3/Conversations:
    x-twilio:
      pathType: list
    description: Intelligence Conversations resource to retrieve conversations that have been processed by an Intelligence Configuration.
    get:
      description: Retrieve a list of Conversations processed by an Intelligence Configuration.
      summary: Retrieve a list of Conversations
      operationId: ListConversations
      tags:
      - Conversations
      parameters:
      - name: pageSize
        in: query
        description: The maximum number of resources to return
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 50
      - name: pageToken
        in: query
        description: Token for pagination
        required: false
        schema:
          type: string
      - name: createdAtBefore
        in: query
        description: Filter by Conversations created before this timestamp. The maximum allowed time range between `createdAtBefore` and `createdAtAfter` is 31 days.
        required: false
        schema:
          type: string
          format: date-time
      - name: createdAtAfter
        in: query
        description: Filter by Conversations created after this timestamp. The maximum allowed time range between `createdAtBefore` and `createdAtAfter` is 31 days.
        required: false
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: Filter by Conversation status.
        required: false
        schema:
          type: string
          description: The status of the Conversation.
          enum:
          - ACTIVE
          - INACTIVE
          - CLOSED
      - name: channelId
        in: query
        description: Filters Conversations by the underlying channel resource ID, such as a Call ID or Message ID.
        required: false
        schema:
          type: string
      - name: channels
        in: query
        description: Filters Conversations that include one or more of the specified communication channels (`OR` match).
        required: false
        schema:
          type: array
          items:
            type: string
            description: Communication channel type.
            enum:
            - VOICE
            - SMS
            - RCS
            - EMAIL
            - WHATSAPP
            - CHAT
            - API
            - SYSTEM
      - name: conversationConfigurationId
        in: query
        description: The configuration `id` used to generate the Conversation.
        required: false
        schema:
          type: string
          description: The `id` of the Configuration for a Conversation.
          example: conv_configuration_00000000000000000000000000
      - name: intelligenceConfigurationIds
        in: query
        description: Filters Conversations activated by one or more of the specified Intelligence Configuration IDs (`OR` match).
        required: false
        schema:
          type: array
          items:
            type: string
            pattern: ^intelligence_configuration_[0-7][0-9a-z]{25}$
            description: Unique identifier for a Intelligence Configuration that generated the Operator Result. Assigned by Twilio (TTID).
            example: intelligence_configuration_01k6fc25s7epm9qtk8rszbv3q5
      - name: operatorIds
        in: query
        description: Filters Conversations to those where at least one of the specified Language Operators was executed (`OR` match).
        required: false
        schema:
          type: array
          items:
            type: string
            readOnly: true
            pattern: ^intelligence_operator_[0-7][0-9a-z]{25}$
            description: The unique identifier for the Language Operator. Assigned by Twilio (TTID).
            example: intelligence_operator_01k6fc25s7epm9qtk8rszbv3q5
      responses:
        '200':
          description: An array of Conversations.
          content:
            application/json:
              schema:
                type: object
                required:
                - items
                - meta
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConversationListItem'
                    description: List of conversations.
                  meta:
                    type: object
                    properties:
                      key:
                        description: A key, sibling to the `meta` object that holds the actual list of resources
                        type: string
                      pageSize:
                        description: The actual number of resources returned in the response
                        type: integer
                      previousToken:
                        type: string
                      nextToken:
                        type: string
                    required:
                    - key
                    - pageSize
              examples:
                conversationList:
                  $ref: '#/components/examples/ConversationListExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        '429':
          description: Too Many requests (rate limit exceeded for request originating from public API)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
          headers:
            X-RateLimit-Limit:
              schema:
                type: string
            X-RateLimit-Remaining:
              schema:
                type: string
            X-RateLimit-Reset:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
    servers:
    - url: https://intelligence.twilio.com
      description: Twilio Intelligence API
  /v3/Conversations/{id}:
    x-twilio:
      pathType: instance
    description: Intelligence Conversation resource to retrieve a specific conversation by ID
    get:
      summary: Retrieve a Conversation
      operationId: getV3ConversationsById
      tags:
      - Conversations
      parameters:
      - name: id
        in: path
        description: The unique identifier of the conversation.
        required: true
        schema:
          type: string
          pattern: ^conv_conversation_[0-7][0-9a-z]{25}$
          description: The `id` of the Conversation attached to the Operator Result.
          example: conv_conversation_01k1etk2y5f1y9fpe2epfdtvv2
      responses:
        '200':
          description: Conversation object.
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - accountId
                - name
                - status
                - createdAt
                - updatedAt
                - intelligenceConfigurationIds
                - conversationConfigurationId
                - channels
                - channelIds
                - participants
                - communications
                - operatorResultIds
                properties:
                  id:
                    $ref: '#/components/schemas/ConversationTtid'
                  accountId:
                    type:
                    - string
                    - 'null'
                    minLength: 34
                    maxLength: 34
                    pattern: ^AC[0-9a-fA-F]{32}$
                    description: The ID of the account that owns the Conversation.
                  name:
                    type:
                    - string
                    - 'null'
                    description: Display name of the Conversation.
                  status:
                    $ref: '#/components/schemas/ConversationStatus'
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp for when the Conversation was created.
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp for when the Conversation was last updated.
                  intelligenceConfigurationIds:
                    type: array
                    description: The Intelligence Configuration(s) associated with the Conversation.
                    items:
                      $ref: '#/components/schemas/IntelligenceConfigurationTtid'
                  conversationConfigurationId:
                    $ref: '#/components/schemas/ConfigurationTtid'
                  channels:
                    type: array
                    description: The communication channel(s) included in the Conversation.
                    items:
                      $ref: '#/components/schemas/Channel'
                  channelIds:
                    type: array
                    description: The underlying channel resource `id`s associated with this Conversation, such as a Call ID or Message ID.
                    items:
                      type: string
                  participants:
                    type: array
                    description: Metadata for Participants of the Conversation.
                    items:
                      $ref: '#/components/schemas/Participant'
                  communications:
                    type: array
                    description: Metadata for the Communications that make up the Conversation.
                    items:
                      $ref: '#/components/schemas/Communication'
                  operatorResultIds:
                    type: array
                    description: List of Operator Result IDs generated from this Conversation.
                    items:
                      type: string
              examples:
                conversation:
                  $ref: '#/components/examples/ConversationExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        '401':
          description: Unauthorized request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        '403':
          description: Forbidden request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
        '429':
          description: Too Many requests (rate limit exceeded for request originating from public API)
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
          headers:
            X-RateLimit-Limit:
              schema:
                type: string
            X-RateLimit-Remaining:
              schema:
                type: string
            X-RateLimit-Reset:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: Twilio-specific error code
                    type: integer
                    format: int32
                  message:
                    description: A human readable error message
                    type: string
                  httpStatusCode:
                    description: HTTP response status code
                    type: integer
                    format: int32
                  userError:
                    description: Whether the error is a user error (true) or a system error (false)
                    type: boolean
                  params:
                    description: A map of parameters related to the error, for example, a `params.twilioErrorCodeUrl` might hold a URL or link to additional information
                    type: object
                    additionalProperties:
                      type: string
                required:
                - code
                - message
                - httpStatusCode
      security:
      - basic_apikey_or_accountsid: []
      x-operation-id-source: normalized
      x-operation-id-original: FetchConversation
    servers:
    - url: https://intelligence.twilio.com
      description: Twilio Intelligence API
components:
  schemas:
    CreateConversationRequest:
      type: object
      properties:
        FriendlyName:
          type: string
          description: The human-readable name of this conversation, limited to 256 characters. Optional.
        UniqueName:
          type: string
          description: An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL.
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated.
        MessagingServiceSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^MG[0-9a-fA-F]{32}$
          description: The unique ID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) this conversation belongs to.
        Attributes:
          type: string
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        State:
          type: string
          $ref: '#/components/schemas/conversation_enum_state'
          description: Current state of this conversation. Can be either `active`, `inactive` or `closed` and defaults to `active`
        Timers.Inactive:
          type: string
          description: ISO8601 duration when conversation will be switched to `inactive` state. Minimum value for this timer is 1 minute.
        Timers.Closed:
          type: string
          description: ISO8601 duration when conversation will be switched to `closed` state. Minimum value for this timer is 10 minutes.
        Bindings.Email.Address:
          type: string
          description: The default email address that will be used when sending outbound emails in this conversation.
        Bindings.Email.Name:
          type: string
          description: The default name that will be used when sending outbound emails in this conversation.
    CreateConversationMessageRequest:
      type: object
      properties:
        Author:
          type: string
          description: The channel specific identifier of the message's author. Defaults to `system`.
        Body:
          type: string
          description: The content of the message, can be up to 1,600 characters long.
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated. `null` if the message has not been edited.
        Attributes:
          type: string
          description: A string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        MediaSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^ME[0-9a-fA-F]{32}$
          description: The Media SID to be attached to the new Message.
        ContentSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
          description: The unique ID of the multi-channel [Rich Content](https://www.twilio.com/docs/content) template, required for template-generated messages.  **Note** that if this field is set, `Body` and `MediaSid` parameters are ignored.
        ContentVariables:
          type: string
          description: A structurally valid JSON string that contains values to resolve Rich Content template variables.
        Subject:
          type: string
          description: The subject of the message, can be up to 256 characters long.
    conversation_message_enum_webhook_enabled_type:
      type: string
      enum:
      - 'true'
      - 'false'
    conversations.v1.conversation.conversation_participant:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this participant.
        conversation_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^MB[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        identity:
          type:
          - string
          - 'null'
          description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        attributes:
          type:
          - string
          - 'null'
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
          x-twilio:
            pii:
              handling: sensitive
              deleteSla: 30
        messaging_binding:
          description: Information about how this participant exchanges messages with the conversation. A JSON parameter consisting of type and address fields of the participant.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        role_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          description: The SID of a conversation-level [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the participant.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource URL for this participant.
        last_read_message_index:
          type:
          - integer
          - 'null'
          description: Index of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
        last_read_timestamp:
          type:
          - string
          - 'null'
          description: Timestamp of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
    conversations.v1.conversation.conversation_message.conversation_message_receipt:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this participant.
        conversation_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^DY[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        message_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
          description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to
        channel_message_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          description: 'A messaging channel-specific identifier for the message delivered to participant e.g. `SMxx` for SMS, `WAxx` for Whatsapp etc. '
        participant_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^MB[0-9a-fA-F]{32}$
          description: The unique ID of the participant the delivery receipt belongs to.
        status:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/conversation_message_receipt_enum_delivery_status'
          description: The message delivery status, can be `read`, `failed`, `delivered`, `undelivered`, `sent` or null.
        error_code:
          type:
          - integer
          - 'null'
          description: 'The message [delivery error code](https://www.twilio.com/docs/sms/api/message-resource#delivery-related-errors) for a `failed` status, '
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated. `null` if the delivery receipt has not been updated.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource URL for this delivery receipt.
    conversation_scoped_webhook_enum_method:
      type: string
      enum:
      - GET
      - POST
    ListConversationMessageResponse:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    UpdateConversationMessageRequest:
      type: object
      properties:
        Author:
          type: string
          description: The channel specific identifier of the message's author. Defaults to `system`.
        Body:
          type: string
          description: The content of the message, can be up to 1,600 characters long.
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated. `null` if the message has not been edited.
        Attributes:
          type: string
          description: A string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        Subject:
          type: string
          description: The subject of the message, can be up to 256 characters long.
    conversations.v1.conversation.conversation_message:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this message.
        conversation_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        index:
          type:
          - integer
          - 'null'
          description: The index of the message within the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource).  Indices may skip numbers, but will always be in order of when the message was received.
        author:
          type:
          - string
          - 'null'
          description: The channel specific identifier of the message's author. Defaults to `system`.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        body:
          type:
          - string
          - 'null'
          description: The content of the message, can be up to 1,600 characters long.
          x-twilio:
            pii:
              handling: sensitive
              deleteSla: 30
        media:
          type:
          - array
          - 'null'
          items: {}
          description: 'An array of objects that describe the Message''s media, if the message contains media. Each object contains these fields: `content_type` with the MIME type of the media, `filename` with the name of the media, `sid` with the SID of the Media resource, and `size` with the media object''s file size in bytes. If the Message has no media, this value is `null`.'
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        attributes:
          type:
          - string
          - 'null'
          description: A string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
          x-twilio:
            pii:
              handling: sensitive
              deleteSla: 30
        participant_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^MB[0-9a-fA-F]{32}$
          description: The unique ID of messages's author participant. Null in case of `system` sent message.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated. `null` if the message has not been edited.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource API URL for this message.
        delivery:
          description: An object that contains the summary of delivery statuses for the message to non-chat participants.
        links:
          type:
          - object
          - 'null'
          format: uri-map
          description: Contains an absolute API resource URL to access the delivery & read receipts of this message.
        content_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
          description: The unique ID of the multi-channel [Rich Content](https://www.twilio.com/docs/content) template.
    UpdateConversationScopedWebhookRequest:
      type: object
      properties:
        Configuration.Url:
          type: string
          description: The absolute url the webhook request should be sent to.
        Configuration.Method:
          type: string
          $ref: '#/components/schemas/conversation_scoped_webhook_enum_method'
          description: The HTTP method to be used when sending a webhook request.
        Configuration.Filters:
          type: array
          items:
            type: string
          description: The list of events, firing webhook event for this Conversation.
        Configuration.Triggers:
          type: array
          items:
            type: string
          description: The list of keywords, firing webhook event for this Conversation.
        Configuration.FlowSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          description: The studio flow SID, where the webhook should be sent to.
    CreateConversationParticipantRequest:
      type: object
      properties:
        Identity:
          type: string
          description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
        MessagingBinding.Address:
          type: string
          description: The address of the participant's device, e.g. a phone or WhatsApp number. Together with the Proxy address, this determines a participant uniquely. This field (with proxy_address) is only null when the participant is interacting from an SDK endpoint (see the 'identity' field).
        MessagingBinding.ProxyAddress:
          type: string
          description: The address of the Twilio phone number (or WhatsApp number) that the participant is in contact with. This field, together with participant address, is only null when the participant is interacting from an SDK endpoint (see the 'identity' field).
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated.
        Attributes:
          type: string
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        MessagingBinding.ProjectedAddress:
          type: string
          description: The address of the Twilio phone number that is used in Group MMS. Communication mask for the Conversation participant with Identity.
        RoleSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          description: The SID of a conversation-level [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the participant.
    conversation_message_receipt_enum_delivery_status:
      type: string
      enum:
      - read
      - failed
      - delivered
      - undelivered
      - sent
    conversations.v1.conversation.conversation_scoped_webhook:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this conversation.
        conversation_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        target:
          type:
          - string
          - 'null'
          description: 'The target of this webhook: `webhook`, `studio`, `trigger`'
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource URL for this webhook.
        configuration:
          description: The configuration of this webhook. Is defined based on target.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated.
    conversation_enum_state:
      type: string
      enum:
      - inactive
      - active
      - closed
    conversation_participant_enum_webhook_enabled_type:
      type: string
      enum:
      - 'true'
      - 'false'
    CreateConversationScopedWebhookRequest:
      type: object
      required:
      - Target
      properties:
        Target:
          type: string
          $ref: '#/components/schemas/conversation_scoped_webhook_enum_target'
          description: 'The target of this webhook: `webhook`, `studio`, `trigger`'
        Configuration.Url:
          type: string
          description: The absolute url the webhook request should be sent to.
        Configuration.Method:
          type: string
          $ref: '#/components/schemas/conversation_scoped_webhook_enum_method'
          description: The HTTP method to be used when sending a webhook request.
        Configuration.Filters:
          type: array
          items:
            type: string
          description: The list of events, firing webhook event for this Conversation.
        Configuration.Triggers:
          type: array
          items:
            type: string
          description: The list of keywords, firing webhook event for this Conversation.
        Configuration.FlowSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          description: The studio flow SID, where the webhook should be sent to.
        Configuration.ReplayAfter:
          type: integer
          description: The message index for which and it's successors the webhook will be replayed. Not set by default
    ListConversationMessageReceiptResponse:
      type: object
      properties:
        delivery_receipts:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation.conversation_message.conversation_message_receipt'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    conversation_message_enum_order_type:
      type: string
      enum:
      - asc
      - desc
    ListConversationResponse:
      type: object
      properties:
        conversations:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    conversations.v1.conversation:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this conversation.
        chat_service_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) this conversation belongs to.
        messaging_service_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^MG[0-9a-fA-F]{32}$
          description: The unique ID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) this conversation belongs to.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        friendly_name:
          type:
          - string
          - 'null'
          description: The human-readable name of this conversation, limited to 256 characters. Optional.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        unique_name:
          type:
          - string
          - 'null'
          description: An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        attributes:
          type:
          - string
          - 'null'
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
          x-twilio:
            pii:
              handling: sensitive
              deleteSla: 30
        state:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/conversation_enum_state'
          description: Current state of this conversation. Can be either `active`, `inactive` or `closed` and defaults to `active`
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated.
        timers:
          description: Timer date values representing state update for this conversation.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource URL for this conversation.
        links:
          type:
          - object
          - 'null'
          format: uri-map
          description: Contains absolute URLs to access the [participants](https://www.twilio.com/docs/conversations/api/conversation-participant-resource), [messages](https://www.twilio.com/docs/conversations/api/conversation-message-resource) and [webhooks](https://www.twilio.com/docs/conversations/api/conversation-scoped-webhook-resource) of this conversation.
        bindings: {}
    UpdateConversationParticipantRequest:
      type: object
      properties:
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated.
        Attributes:
          type: string
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        RoleSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          description: The SID of a conversation-level [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the participant.
        MessagingBinding.ProxyAddress:
          type: string
          description: The address of the Twilio phone number that the participant is in contact with. 'null' value will remove it.
        MessagingBinding.ProjectedAddress:
          type: string
          description: The address of the Twilio phone number that is used in Group MMS. 'null' value will remove it.
        Identity:
          type: string
          description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
        LastReadMessageIndex:
          type:
          - integer
          - 'null'
          description: Index of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
        LastReadTimestamp:
          type: string
          description: Timestamp of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
    conversation_scoped_webhook_enum_target:
      type: string
      enum:
      - webhook
      - trigger
      - studio
    UpdateConversationRequest:
      type: object
      properties:
        FriendlyName:
          type: string
          description: The human-readable name of this conversation, limited to 256 characters. Optional.
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated.
        Attributes:
          type: string
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        MessagingServiceSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^MG[0-9a-fA-F]{32}$
          description: The unique ID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) this conversation belongs to.
        State:
          type: string
          $ref: '#/components/schemas/conversation_enum_state'
          description: Current state of this conversation. Can be either `active`, `inactive` or `closed` and defaults to `active`
        Timers.Inactive:
          type: string
          description: ISO8601 duration when conversation will be switched to `inactive` state. Minimum value for this timer is 1 minute.
        Timers.Closed:
          type: string
          description: ISO8601 duration when conversation will be switched to `closed` state. Minimum value for this timer is 10 minutes.
        UniqueName:
          type: string
          description: An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL.
        Bindings.Email.Address:
          type: string
          description: The default email address that will be used when sending outbound emails in this conversation.
        Bindings.Email.Name:
          type: string
          description: The default name that will be used when sending outbound emails in this conversation.
    ListConversationParticipantResponse:
      type: object
      properties:
        participants:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    ListConversationScopedWebhookResponse:
      type: object
      properties:
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    conversation_enum_webhook_enabled_type:
      type: string
      enum:
      - 'true'
      - 'false'
    Participant:
      type: object
      required:
      - id
      - addressValues
      properties:
        id:
          $ref: '#/components/schemas/ParticipantTtid'
        name:
          type:
          - string
          - 'null'
          description: Participant display name.
        type:
          type:
          - string
          - 'null'
          description: 'Type of participant in the conversation. Available types:

            - `CUSTOMER`

            - `HUMAN_AGENT`

            - `AI_AGENT`

            - `AGENT`

            - `UNKNOWN`

            '
        addressValues:
          type: array
          items:
            type: string
          description: Participant address values (for example, a phone number or sender identifier).
    ConversationTtid:
      type: string
      pattern: ^conv_conversation_[0-7][0-9a-z]{25}$
      description: The `id` of the Conversation attached to the Operator Result.
      example: conv_conversation_01k1etk2y5f1y9fpe2epfdtvv2
    ConfigurationTtid:
      type: string
      description: The `id` of the Configuration for a Conversation.
      example: conv_configuration_00000000000000000000000000
    ConversationListItem:
      type: object
      required:
      - id
      - accountId
      - name
      - status
      - createdAt
      - updatedAt
      - intelligenceConfigurationIds
      - conversationConfigurationId
      - channels
      - channelIds
      - participants
      - operatorResultIds
      properties:
        id:
          $ref: '#/components/schemas/ConversationTtid'
        accountId:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The ID of the account that owns the Conversation.
        name:
          type:
          - string
          - 'null'
          description: Display name of the Conversation.
        status:
          $ref: '#/components/schemas/ConversationStatus'
        createdAt:
          type: string
          format: date-time
          description: Timestamp for when the Conversation was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp for when the Conversation was last updated.
        intelligenceConfigurationIds:
          type: array
          description: The Intelligence Configuration(s) associated with the Conversation.
          items:
            $ref: '#/components/schemas/IntelligenceConfigurationTtid'
        conversationConfigurationId:
          $ref: '#/components/schemas/ConfigurationTtid'
        channels:
          type: array
          description: The communication channel(s) included in the Conversation.
          items:
            $ref: '#/components/schemas/Channel'
        channelIds:
          type: array
          description: The underlying channel resource `id`s associated with this Conversation, such as a Call ID or Message ID.
          items:
            type: string
        participants:
          type: array
          description: Metadata for Participants of the Conversation.
          items:
            $ref: '#/components/schemas/Participant'
        operatorResultIds:
          type: array
          description: List of Operator Result IDs generated from this Conversation.
          items:
            type: string
    Content:
      type: object
      description: The content of the communication.
      properties:
        text:
          type: string
          description: The transcript of the communication.
    IntelligenceConfigurationTtid:
      type: string
      pattern: ^intelligence_configuration_[0-7][0-9a-z]{25}$
      description: Unique identifier for a Intelligence Configuration that generated the Operator Result. Assigned by Twilio (TTID).
      example: intelligence_configuration_01k6fc25s7epm9qtk8rszbv3q5
    CommunicationTtid:
      type: string
      pattern: ^conv_communication_[0-7][0-9a-z]{25}$
      description: Communication `id` from the attached Conversation.
      example: conv_communication_01k1etk2y5f1y9fpe2epfdtvv2
    ParticipantTtid:
      type: string
      pattern: ^conv_participant_[0-7][0-9a-z]{25}$
      description: The `id` of the Participant in the Conversation.
      example: conv_participant_01k1etx3jbfx88476ccja0889c
    ConversationStatus:
      type: string
      description: The status of the Conversation.
      enum:
      - ACTIVE
      - INACTIVE
      - CLOSED
    Channel:
      type: string
      description: Communication channel type.
      enum:
      - VOICE
      - SMS
      - RCS
      - EMAIL
      - WHATSAPP
      - CHAT
      - API
      - SYSTEM
    Communication:
      type: object
      required:
      - id
      - participantId
      - content
      - createdAt
      properties:
        id:
          $ref: '#/components/schemas/CommunicationTtid'
        participantId:
          $ref: '#/components/schemas/ParticipantTtid'
        content:
          $ref: '#/components/schemas/Content'
        createdAt:
          type: string
          format: date-time
          description: The timestamp for when the Communication was created.
  examples:
    ConversationListExample:
      summary: List of Conversations Response
      value:
        items:
        - id: conv_conversation_01k1etk2y5f1y9fpe2epfdtvv2
          accountId: REDACTED_TWILIO_ACCOUNT_SID
          name: 'Customer Support Call - Order #12345'
          status: CLOSED
          createdAt: '2026-01-15T10:30:00Z'
          updatedAt: '2026-01-15T10:45:30Z'
          intelligenceConfigurationIds:
          - intelligence_configuration_01kermhm82e5mr98nbeh1hpmbn
          conversationConfigurationId: conv_configuration_00000000000000000000000000
          channels:
          - VOICE
          channelIds:
          - CA1234567890abcdef1234567890abcdef
          participants:
          - id: conv_participant_01k1etx3jbfx88476ccja0889c
            name: John Customer
            type: CUSTOMER
            addressValues:
            - '+15551234567'
          - id: conv_participant_01k1etx3jbfx88476ccja0889d
            name: Sarah Agent
            type: HUMAN_AGENT
            addressValues:
            - agent-sarah@example.com
          operatorResultIds:
          - intelligence_operatorresult_01k6fc25s7epm9qtk8rszbv3q5
[...]
