openapi: 3.2.0
info:
  title: Twilio - Accounts A2p Services API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Services
paths:
  /v1/Services:
    servers:
    - url: https://conversations.twilio.com
    description: A Service resource is a top-level conversation resource container that serves as a data silo.
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
      dependentProperties:
        conversations:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations
        bindings:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Bindings
        users:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Users
        roles:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Roles
        configuration:
          mapping:
            chat_service_sid: sid
          resource_url: /v1None
        participant_conversations:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/ParticipantConversations
    post:
      description: Create a new conversation service on your account
      tags:
      - Services
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateService
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
    get:
      description: Retrieve a list of all conversation services on your account
      tags:
      - Services
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListService
      x-maturity:
      - GA
  /v1/Services/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Service resource is a top-level conversation resource container that serves as a data silo.
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
      dependentProperties:
        conversations:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations
        bindings:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Bindings
        users:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Users
        roles:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Roles
        configuration:
          mapping:
            chat_service_sid: sid
          resource_url: /v1None
        participant_conversations:
          mapping:
            chat_service_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/ParticipantConversations
    delete:
      description: Remove a conversation service with all its nested resources from your account
      tags:
      - Services
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteService
      x-maturity:
      - GA
    get:
      description: Fetch a conversation service from your account
      tags:
      - Services
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchService
      x-maturity:
      - GA
    post:
      description: ''
      tags:
      - Services
      parameters:
      - name: Sid
        in: path
        description: The SID of the Service resource to update.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^MG[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messaging.v1.service'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateService
      x-maturity:
      - Beta
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest_3'
  /v1/Services/{ChatServiceSid}/Bindings/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Binding resource represents a push notification binding and its configuration, for delivering conversation events to mobile or web endpoints.
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      pathType: instance
      parent: /Services/{Sid}
    delete:
      description: Remove a push notification binding from the conversation service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete the Binding resource from.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: The SID of the Binding resource to delete.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BS[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteServiceBinding
      x-maturity:
      - GA
    get:
      description: Fetch a push notification binding from the conversation service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BS[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_binding'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceBinding
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Bindings:
    servers:
    - url: https://conversations.twilio.com
    description: A Binding resource represents a push notification binding and its configuration, for delivering conversation events to mobile or web endpoints.
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      pathType: list
      parent: /Services/{Sid}
    get:
      description: Retrieve a list of all push notification bindings in the conversation service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: BindingType
        in: query
        description: 'The push technology used by the Binding resources to read.  Can be: `apn`, `gcm`, or `fcm`.  See [push notification configuration](https://www.twilio.com/docs/chat/push-notification-configuration) for more info.'
        schema:
          type: array
          items:
            type: string
            $ref: '#/components/schemas/service_binding_enum_binding_type'
      - name: Identity
        in: query
        description: The identity of a [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource) this binding belongs to. See [access tokens](https://www.twilio.com/docs/conversations/create-tokens) for more details.
        schema:
          type: array
          items:
            type: string
        x-twilio:
          pii:
            handling: standard
            deleteSla: 30
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceBindingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceBinding
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Configuration:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Configuration resource manages service-level settings applicable to the Conversation API.
    x-twilio:
      defaultOutputProperties:
      - chat_service_sid
      pathType: instance
      parent: /Services/{Sid}
    get:
      description: Fetch the configuration of a conversation service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the Service configuration resource to fetch.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceConfiguration
      x-maturity:
      - GA
    post:
      description: Update configuration settings of a conversation service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the Service configuration resource to update.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceConfiguration
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceConfigurationRequest'
  /v1/Services/{ChatServiceSid}/Conversations:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.
    x-twilio:
      defaultOutputProperties:
      - sid
      - chat_service_sid
      - friendly_name
      - date_created
      pathType: list
      dependentProperties:
        participants:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Participants
        messages:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Messages
        webhooks:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Webhooks
      parent: /Services/{Sid}
    post:
      description: Create a new conversation in your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateServiceConversation
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceConversationRequest'
    get:
      description: Retrieve a list of conversations in your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: StartDate
        in: query
        description: Start date or time in ISO8601 format for filtering list of Conversations. If a date is provided, the start time of the date is used (YYYY-MM-DDT00:00:00Z). Can be combined with other filters.
        schema:
          type: string
      - name: EndDate
        in: query
        description: End date or time in ISO8601 format for filtering list of Conversations. If a date is provided, the end time of the date is used (YYYY-MM-DDT23:59:59Z). Can be combined with other filters.
        schema:
          type: string
      - name: State
        in: query
        description: State for sorting and filtering list of Conversations. Can be `active`, `inactive` or `closed`
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_enum_state'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceConversationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceConversation
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Conversations/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.
    x-twilio:
      defaultOutputProperties:
      - sid
      - chat_service_sid
      - friendly_name
      - date_created
      pathType: instance
      dependentProperties:
        participants:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Participants
        messages:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Messages
        webhooks:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Webhooks
      parent: /Services/{Sid}
    post:
      description: Update an existing conversation in your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceConversation
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceConversationRequest'
    delete:
      description: Remove a conversation from your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteServiceConversation
      x-maturity:
      - GA
    get:
      description: Fetch a conversation from your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceConversation
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Message resource represents a message in a conversation within a specific service.
    x-twilio:
      defaultOutputProperties:
      - sid
      - index
      - author
      - date_created
      pathType: list
      dependentProperties:
        delivery_receipts:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Messages/{message_sid}/Receipts
        channel_metadata:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1None
      parent: /Services/{ChatServiceSid}/Conversations/{Sid}
    post:
      description: Add a new message to the conversation in a specific service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_message_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateServiceConversationMessage
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceConversationMessageRequest'
    get:
      description: Retrieve a list of all messages in the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for messages.
        schema:
          type: string
        required: true
      - name: Order
        in: query
        description: 'The sort order of the returned messages. Can be: `asc` (ascending) or `desc` (descending), with `asc` as the default.'
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_message_enum_order_type'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceConversationMessageResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceConversationMessage
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Message resource represents a message in a conversation within a specific service.
    x-twilio:
      defaultOutputProperties:
      - sid
      - index
      - author
      - date_created
      pathType: instance
      dependentProperties:
        delivery_receipts:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Conversations/{conversation_sid}/Messages/{message_sid}/Receipts
        channel_metadata:
          mapping:
            chat_service_sid: chat_service_sid
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1None
      parent: /Services/{ChatServiceSid}/Conversations/{Sid}
    post:
      description: Update an existing message in the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_message_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceConversationMessage
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceConversationMessageRequest'
    delete:
      description: Remove a message from the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_message_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteServiceConversationMessage
      x-maturity:
      - GA
    get:
      description: Fetch a message from the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceConversationMessage
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Message Receipt resource represents a delivery/read receipt of a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      pathType: instance
      parent: /Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{Sid}
      mountName: delivery_receipts
    get:
      description: Fetch the delivery and read receipts of the conversation message
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: MessageSid
        in: path
        description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^DY[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message.service_conversation_message_receipt'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceConversationMessageReceipt
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Message Receipt resource represents a delivery/read receipt of a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      pathType: list
      parent: /Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{Sid}
      mountName: delivery_receipts
    get:
      description: Retrieve a list of all delivery and read receipts of the conversation message
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: MessageSid
        in: path
        description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceConversationMessageReceiptResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceConversationMessageReceipt
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Participants:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Participant resource represents a member of the conversation within a specific service.
    x-twilio:
      defaultOutputProperties:
      - sid
      - messaging_binding
      pathType: list
      parent: /Services/{ChatServiceSid}/Conversations/{Sid}
    post:
      description: Add a new participant to the conversation in a specific service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_participant_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_participant'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateServiceConversationParticipant
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceConversationParticipantRequest'
    get:
      description: Retrieve a list of all participants of the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for participants.
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceConversationParticipantResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceConversationParticipant
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Participants/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Participant resource represents a member of the conversation within a specific service.
    x-twilio:
      defaultOutputProperties:
      - sid
      - messaging_binding
      pathType: instance
      parent: /Services/{ChatServiceSid}/Conversations/{Sid}
    post:
      description: Update an existing participant in the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_participant_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_participant'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceConversationParticipant
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceConversationParticipantRequest'
    delete:
      description: Remove a participant from the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_conversation_participant_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteServiceConversationParticipant
      x-maturity:
      - GA
    get:
      description: Fetch a participant of the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Alternatively, you can pass a Participant's `identity` rather than the SID.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_participant'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceConversationParticipant
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Webhooks:
    servers:
    - url: https://conversations.twilio.com
    description: A Conversation-scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - target
      pathType: list
      parent: /Services/{ChatServiceSid}/Conversations/{Sid}
    post:
      description: Create a new webhook scoped to the conversation in a specific service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_scoped_webhook'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateServiceConversationScopedWebhook
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceConversationScopedWebhookRequest'
    get:
      description: Retrieve a list of all webhooks scoped to the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceConversationScopedWebhookResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceConversationScopedWebhook
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Webhooks/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Conversation-scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - target
      pathType: instance
      parent: /Services/{ChatServiceSid}/Conversations/{Sid}
    post:
      description: Update an existing conversation-scoped webhook
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_scoped_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceConversationScopedWebhook
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceConversationScopedWebhookRequest'
    delete:
      description: Remove an existing webhook scoped to the conversation
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteServiceConversationScopedWebhook
      x-maturity:
      - GA
    get:
      description: Fetch the configuration of a conversation-scoped webhook
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_conversation.service_conversation_scoped_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceConversationScopedWebhook
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Configuration/Notifications:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Notification resource manages a set of settings to determine push notification behavior at service level.
    x-twilio:
      defaultOutputProperties:
      - chat_service_sid
      pathType: instance
      parent: /Services/{ChatServiceSid}/Configuration
    post:
      description: Update push notification service settings
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Configuration applies to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration.service_notification'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceNotification
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceNotificationRequest'
    get:
      description: Fetch push notification service settings
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Configuration applies to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration.service_notification'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceNotification
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/ParticipantConversations:
    servers:
    - url: https://conversations.twilio.com
    description: Service Participant Conversations resource represents a list of Conversations that this Participant belongs to belonging to a specific conversation service.
    x-twilio:
      defaultOutputProperties:
      - chat_service_sid
      - participant_sid
      - conversation_sid
      pathType: list
      parent: /Services/{Sid}
    get:
      description: Retrieve a list of all Conversations that this Participant belongs to by identity or by address. Only one parameter should be specified.
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant Conversations resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Identity
        in: query
        description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
        schema:
          type: string
      - name: Address
        in: query
        description: A unique string identifier for the conversation participant who's not a Conversation User. This parameter could be found in messaging_binding.address field of Participant resource. It should be url-encoded.
        schema:
          type: string
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceParticipantConversationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceParticipantConversation
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Roles:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Role resource represents a set of permissions granted to a user within a service or a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: list
      parent: /Services/{Sid}
    post:
      description: Create a new user role in your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to create the Role resource under.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_role'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateServiceRole
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRoleRequest'
    get:
      description: Retrieve a list of all user roles in your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to read the Role resources from.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceRoleResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceRole
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Roles/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Service Role resource represents a set of permissions granted to a user within a service or a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - type
      pathType: instance
      parent: /Services/{Sid}
    post:
      description: Update an existing user role in your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to update the Role resource in.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: The SID of the Role resource to update.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_role'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceRole
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRoleRequest'
    delete:
      description: Remove a user role from your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete the Role resource from.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: The SID of the Role resource to delete.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteServiceRole
      x-maturity:
      - GA
    get:
      description: Fetch a user role from your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to fetch the Role resource from.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: The SID of the Role resource to fetch.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_role'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceRole
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Users:
    servers:
    - url: https://conversations.twilio.com
    description: A Service User resource represents a conversation user belonging to a specific conversation service.
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      pathType: list
      dependentProperties:
        user_conversations:
          mapping:
            chat_service_sid: chat_service_sid
            user_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Users/{user_sid}/Conversations
      parent: /Services/{Sid}
    post:
      description: Add a new conversation user to your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the User resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_user_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_user'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateServiceUser
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceUserRequest'
    get:
      description: Retrieve a list of all conversation users in your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to read the User resources from.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceUserResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceUser
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Users/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Service User resource represents a conversation user belonging to a specific conversation service.
    x-twilio:
      defaultOutputProperties:
      - sid
      - identity
      pathType: instance
      dependentProperties:
        user_conversations:
          mapping:
            chat_service_sid: chat_service_sid
            user_sid: sid
          resource_url: /v1/Services/{chat_service_sid}/Users/{user_sid}/Conversations
      parent: /Services/{Sid}
    post:
      description: Update an existing conversation user in your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the User resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: The SID of the User resource to update. This value can be either the `sid` or the `identity` of the User resource to update.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_user_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_user'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceUser
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceUserRequest'
    delete:
      description: Remove a conversation user from your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete the User resource from.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: The SID of the User resource to delete. This value can be either the `sid` or the `identity` of the User resource to delete.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/service_user_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteServiceUser
      x-maturity:
      - GA
    get:
      description: Fetch a conversation user from your service
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to fetch the User resource from.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: The SID of the User resource to fetch. This value can be either the `sid` or the `identity` of the User resource to fetch.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_user'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceUser
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Users/{UserSid}/Conversations/{ConversationSid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Service User Conversation resource represents a conversation of the user belonging to a specific conversation service.
    x-twilio:
      defaultOutputProperties:
      - conversation_sid
      - user_sid
      - chat_service_sid
      - friendly_name
      - date_created
      pathType: instance
      parent: /Services/{ChatServiceSid}/Users/{Sid}
      mountName: user_conversations
    post:
      description: Update a specific User Conversation.
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: UserSid
        in: path
        description: The unique SID identifier of the [User resource](https://www.twilio.com/docs/conversations/api/user-resource). This value can be either the `sid` or the `identity` of the User resource.
        schema:
          type: string
        required: true
      - name: ConversationSid
        in: path
        description: The unique SID identifier of the Conversation. This value can be either the `sid` or the `unique_name` of the [Conversation resource](https://www.twilio.com/docs/conversations/api/conversation-resource).
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_user.service_user_conversation'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceUserConversation
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceUserConversationRequest'
    delete:
      description: Delete a specific User Conversation.
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: UserSid
        in: path
        description: The unique SID identifier of the [User resource](https://www.twilio.com/docs/conversations/api/user-resource). This value can be either the `sid` or the `identity` of the User resource.
        schema:
          type: string
        required: true
      - name: ConversationSid
        in: path
        description: The unique SID identifier of the Conversation. This value can be either the `sid` or the `unique_name` of the [Conversation resource](https://www.twilio.com/docs/conversations/api/conversation-resource).
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteServiceUserConversation
      x-maturity:
      - GA
    get:
      description: Fetch a specific User Conversation.
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: UserSid
        in: path
        description: The unique SID identifier of the [User resource](https://www.twilio.com/docs/conversations/api/user-resource). This value can be either the `sid` or the `identity` of the User resource.
        schema:
          type: string
        required: true
      - name: ConversationSid
        in: path
        description: The unique SID identifier of the Conversation. This value can be either the `sid` or the `unique_name` of the [Conversation resource](https://www.twilio.com/docs/conversations/api/conversation-resource).
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_user.service_user_conversation'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceUserConversation
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Users/{UserSid}/Conversations:
    servers:
    - url: https://conversations.twilio.com
    description: A Service User Conversation resource represents a conversation of the user belonging to a specific conversation service.
    x-twilio:
      defaultOutputProperties:
      - conversation_sid
      - user_sid
      - chat_service_sid
      - friendly_name
      - date_created
      pathType: list
      parent: /Services/{ChatServiceSid}/Users/{Sid}
      mountName: user_conversations
    get:
      description: Retrieve a list of all User Conversations for the User.
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: UserSid
        in: path
        description: The unique SID identifier of the [User resource](https://www.twilio.com/docs/conversations/api/user-resource). This value can be either the `sid` or the `identity` of the User resource.
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceUserConversationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListServiceUserConversation
      x-maturity:
      - GA
  /v1/Services/{ChatServiceSid}/Configuration/Webhooks:
    servers:
    - url: https://conversations.twilio.com
    description: A service webhook configuration resource manages a service-level set of callback URLs and their configuration for receiving all the corresponding service events.
    x-twilio:
      defaultOutputProperties:
      - chat_service_sid
      pathType: instance
      parent: /Services/{ChatServiceSid}/Configuration
    post:
      description: Update a specific Webhook.
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The unique ID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) this conversation belongs to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration.service_webhook_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateServiceWebhookConfiguration
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceWebhookConfigurationRequest'
    get:
      description: Fetch a specific service webhook configuration.
      tags:
      - Services
      parameters:
      - name: ChatServiceSid
        in: path
        description: The unique ID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) this conversation belongs to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.service.service_configuration.service_webhook_configuration'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchServiceWebhookConfiguration
      x-maturity:
      - GA
  /v2/Services:
    servers:
    - url: https://intelligence.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      - language_code
      - date_created
      - version
      pathType: list
    post:
      description: Create a new Service for the given Account
      tags:
      - Services
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.service'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateService
      x-maturity:
      - Beta
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest_2'
    get:
      description: Retrieves a list of all Services for an account.
      tags:
      - Services
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListServiceResponse_2'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListService
      x-maturity:
      - Beta
  /v2/Services/{Sid}:
    servers:
    - url: https://intelligence.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      - language_code
      - date_created
      - version
      pathType: instance
    delete:
      description: Delete a specific Service.
      tags:
      - Services
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this Service.
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteService
      x-maturity:
      - Beta
    get:
      description: Fetch a specific Service.
      tags:
      - Services
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this Service.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.service'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchService
      x-maturity:
      - Beta
    post:
      description: Update a specific Service.
      tags:
      - Services
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this Service.
        schema:
          type: string
        required: true
      - name: If-Match
        in: header
        description: The If-Match HTTP request header
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.v2.service'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateService
      x-maturity:
      - Beta
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateServiceRequest'
  /v2/Services/{ServiceSid}/Bindings:
    servers:
    - url: https://ip-messaging.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      pathType: list
      parent: /Services/{Sid}
    get:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: BindingType
        in: query
        description: ''
        schema:
          type: array
          items:
            type: string
            $ref: '#/components/schemas/binding_enum_binding_type'
      - name: Identity
        in: query
        description: ''
        schema:
          type: array
          items:
            type: string
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBindingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListBinding
      x-maturity:
      - GA
  /v2/Services/{ServiceSid}/Bindings/{Sid}:
    servers:
    - url: https://ip-messaging.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - endpoint
      - identity
      pathType: instance
      parent: /Services/{Sid}
    get:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BS[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.binding'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchBinding
      x-maturity:
      - GA
    delete:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BS[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteBinding
      x-maturity:
      - GA
  /v2/Services/{ServiceSid}/Channels/{Sid}:
    servers:
    - url: https://ip-messaging.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      pathType: instance
      dependentProperties:
        members:
          mapping:
            service_sid: service_sid
            channel_sid: sid
          resource_url: /v2/Services/{service_sid}/Channels/{channel_sid}/Members
        messages:
          mapping:
            service_sid: service_sid
            channel_sid: sid
          resource_url: /v2/Services/{service_sid}/Channels/{channel_sid}/Messages
        invites:
          mapping:
            service_sid: service_sid
            channel_sid: sid
          resource_url: /v2/Services/{service_sid}/Channels/{channel_sid}/Invites
        webhooks:
          mapping:
            service_sid: service_sid
            channel_sid: sid
          resource_url: /v2/Services/{service_sid}/Channels/{channel_sid}/Webhooks
      parent: /Services/{Sid}
    get:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: ''
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchChannel
      x-maturity:
      - GA
    delete:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: ''
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/channel_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteChannel
      x-maturity:
      - GA
    post:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: ''
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/channel_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateChannel
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequest'
  /v2/Services/{ServiceSid}/Channels:
    servers:
    - url: https://ip-messaging.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - friendly_name
      pathType: list
      dependentProperties:
        members:
          mapping:
            service_sid: service_sid
            channel_sid: sid
          resource_url: /v2/Services/{service_sid}/Channels/{channel_sid}/Members
        messages:
          mapping:
            service_sid: service_sid
            channel_sid: sid
          resource_url: /v2/Services/{service_sid}/Channels/{channel_sid}/Messages
        invites:
          mapping:
            service_sid: service_sid
            channel_sid: sid
          resource_url: /v2/Services/{service_sid}/Channels/{channel_sid}/Invites
        webhooks:
          mapping:
            service_sid: service_sid
            channel_sid: sid
          resource_url: /v2/Services/{service_sid}/Channels/{channel_sid}/Webhooks
      parent: /Services/{Sid}
    post:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/channel_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ip_messaging.v2.service.channel'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateChannel
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateChannelRequest'
    get:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: Type
        in: query
        description: ''
        schema:
          type: array
          items:
            type: string
            $ref: '#/components/schemas/channel_enum_channel_type'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListChannel
      x-maturity:
      - GA
  /v2/Services/{ServiceSid}/Channels/{ChannelSid}/Webhooks:
    servers:
    - url: https://ip-messaging.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - configuration
      pathType: list
      parent: /Services/{ServiceSid}/Channels/{Sid}
    get:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ChannelSid
        in: path
        description: ''
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChannelWebhookResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListChannelWebhook
      x-maturity:
      - GA
    post:
      description: ''
      tags:
      - Services
      parameters:
      - name: ServiceSid
        in: path
        description: ''
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
        required: true
      - name: ChannelSid
        in: path
        description: ''
        schema:
          type: string
[...]
