openapi: 3.2.0
info:
  title: Twilio - Conversations Participant Conversations API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://conversations.twilio.com
tags:
- name: ParticipantConversations
paths:
  /v1/ParticipantConversations:
    servers:
    - url: https://conversations.twilio.com
    description: Participant Conversations resource represents a list of Conversations that this Participant belongs to belonging to a default conversation service.
    x-twilio:
      defaultOutputProperties:
      - chat_service_sid
      - participant_sid
      - conversation_sid
      pathType: list
    get:
      description: Retrieve a list of all Conversations that this Participant belongs to by identity or by address. Only one parameter should be specified.
      tags:
      - ParticipantConversations
      parameters:
      - name: Identity
        in: query
        description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
        schema:
          type: string
      - name: Address
        in: query
        description: A unique string identifier for the conversation participant who's not a Conversation User. This parameter could be found in messaging_binding.address field of Participant resource. It should be url-encoded.
        schema:
          type: string
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListParticipantConversationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListParticipantConversation
      x-maturity:
      - GA
components:
  schemas:
    conversations.v1.participant_conversation:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this conversation.
        chat_service_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) this conversation belongs to.
        participant_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^MB[0-9a-fA-F]{32}$
          description: The unique ID of the [Participant](https://www.twilio.com/docs/conversations/api/conversation-participant-resource).
        participant_user_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^US[0-9a-fA-F]{32}$
          description: The unique string that identifies the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource).
        participant_identity:
          type:
          - string
          - 'null'
          description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        participant_messaging_binding:
          description: Information about how this participant exchanges messages with the conversation. A JSON parameter consisting of type and address fields of the participant.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        conversation_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) this Participant belongs to.
        conversation_unique_name:
          type:
          - string
          - 'null'
          description: An application-defined string that uniquely identifies the Conversation resource.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        conversation_friendly_name:
          type:
          - string
          - 'null'
          description: The human-readable name of this conversation, limited to 256 characters. Optional.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        conversation_attributes:
          type:
          - string
          - 'null'
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
          x-twilio:
            pii:
              handling: sensitive
              deleteSla: 30
        conversation_date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this conversation was created, given in ISO 8601 format.
        conversation_date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this conversation was last updated, given in ISO 8601 format.
        conversation_created_by:
          type:
          - string
          - 'null'
          description: Identity of the creator of this Conversation.
        conversation_state:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/participant_conversation_enum_state'
          description: The current state of this User Conversation. One of `inactive`, `active` or `closed`.
        conversation_timers:
          description: Timer date values representing state update for this conversation.
        links:
          type:
          - object
          - 'null'
          format: uri-map
          description: Contains absolute URLs to access the [participant](https://www.twilio.com/docs/conversations/api/conversation-participant-resource) and [conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) of this conversation.
    ListParticipantConversationResponse:
      type: object
      properties:
        conversations:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.participant_conversation'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    participant_conversation_enum_state:
      type: string
      enum:
      - inactive
      - active
      - closed
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
