openapi: 3.2.0
info:
  title: Twilio - Accounts A2p Content API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Content
paths:
  /v1/Content/{Sid}/ApprovalRequests:
    servers:
    - url: https://content.twilio.com
    description: An Approval Fetch resource represents the approval status of a Content resource.
    x-twilio:
      defaultOutputProperties:
      - sid
      - account_sid
      - whatsapp
      pathType: instance
      parent: /Content/{Sid}
      mountName: approval_fetch
    get:
      description: Fetch a Content resource's approval status by its unique Content Sid
      tags:
      - Content
      parameters:
      - name: Sid
        in: path
        description: The Twilio-provided string that uniquely identifies the Content resource whose approval information to fetch.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/content.v1.content.approval_fetch'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchApprovalFetch
      x-maturity:
      - Preview
  /v1/Content/{Sid}:
    servers:
    - url: https://content.twilio.com
    description: A Content resource represents rich messaging content.
    x-twilio:
      defaultOutputProperties:
      - date_created
      - date_updated
      - sid
      - account_sid
      - friendly_name
      - language
      - variables
      - types
      pathType: instance
      dependentProperties:
        approval_create:
          mapping:
            sid: sid
          resource_url: /v1/Content/{sid}/ApprovalRequests/whatsapp
        approval_fetch:
          mapping:
            sid: sid
          resource_url: /v1None
      mountName: contents
    get:
      description: Fetch a Content resource by its unique Content Sid
      tags:
      - Content
      parameters:
      - name: Sid
        in: path
        description: The Twilio-provided string that uniquely identifies the Content resource to fetch.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/content.v1.content'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchContent
      x-maturity:
      - Preview
    delete:
      description: Deletes a Content resource
      tags:
      - Content
      parameters:
      - name: Sid
        in: path
        description: The Twilio-provided string that uniquely identifies the Content resource to fetch.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteContent
      x-maturity:
      - Preview
  /v1/Content:
    servers:
    - url: https://content.twilio.com
    description: A Content resource represents rich messaging content.
    x-twilio:
      defaultOutputProperties:
      - date_created
      - date_updated
      - sid
      - account_sid
      - friendly_name
      - language
      - variables
      - types
      pathType: list
      dependentProperties:
        approval_create:
          mapping:
            sid: sid
          resource_url: /v1/Content/{sid}/ApprovalRequests/whatsapp
        approval_fetch:
          mapping:
            sid: sid
          resource_url: /v1None
      mountName: contents
    get:
      description: Retrieve a list of Contents belonging to the account used to make the request
      tags:
      - Content
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListContent
      x-maturity:
      - Preview
components:
  schemas:
    content.v1.content.approval_fetch:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
          description: The unique string that that we created to identify the Content resource.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The SID of the [Account](https://www.twilio.com/docs/usage/api/account) that created Content resource.
        whatsapp:
          description: Contains the whatsapp approval information for the Content resource, with fields such as approval status, rejection reason, and category, amongst others.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The URL of the resource, relative to `https://content.twilio.com`.
    ListContentResponse:
      type: object
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/content.v1.content'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    content.v1.content:
      type: object
      properties:
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
          description: The unique string that that we created to identify the Content resource.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The SID of the [Account](https://www.twilio.com/docs/usage/api/account) that created Content resource.
        friendly_name:
          type:
          - string
          - 'null'
          description: A string name used to describe the Content resource. Not visible to the end recipient.
        language:
          type:
          - string
          - 'null'
          description: Two-letter (ISO 639-1) language code (e.g., en) identifying the language the Content resource is in.
        variables:
          description: 'Defines the default placeholder values for variables included in the Content resource. e.g. {"1": "Customer_Name"}.'
        types:
          description: The [Content types](https://www.twilio.com/docs/content/content-types-overview) (e.g. twilio/text) for this Content resource.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The URL of the resource, relative to `https://content.twilio.com`.
        links:
          type:
          - object
          - 'null'
          format: uri-map
          description: A list of links related to the Content resource, such as approval_fetch and approval_create
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
