openapi: 3.2.0
info:
  title: Twilio Verify Entities API
  description: User verification and two-factor authentication API. Send verification codes via SMS, voice, email, WhatsApp, or push notifications. Supports TOTP, push authentication, and silent network authentication for fraud prevention and user identity verification.
  version: '2.0'
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://verify.twilio.com/v2
  description: Twilio Verify API v2
security:
- accountSid_authToken: []
tags:
- name: Entities
  description: Manage end-user entities for TOTP and push
paths:
  /Services/{ServiceSid}/Entities:
    get:
      operationId: listEntities
      summary: Twilio List Entities
      tags:
      - Entities
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      responses:
        '200':
          description: List of entities
    post:
      operationId: createEntity
      summary: Twilio Create an Entity
      description: Create a new entity representing an end user for TOTP or push authentication.
      tags:
      - Entities
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - Identity
              properties:
                Identity:
                  type: string
                  description: Unique identity of the end user
      responses:
        '201':
          description: Entity created
components:
  parameters:
    ServiceSid:
      name: ServiceSid
      in: path
      required: true
      description: The SID of the Verify service
      schema:
        type: string
        pattern: ^VA[0-9a-fA-F]{32}$
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
      description: Use your Twilio Account SID as the username and Auth Token as the password for HTTP Basic authentication.
externalDocs:
  description: Twilio Verify API Documentation
  url: https://www.twilio.com/docs/verify/api
