openapi: 3.2.0
info:
  title: Twilio - Iam Iam V1Get API Keys API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
  x-twilio:
    apiStandards: v0.1
servers:
- url: https://iam.twilio.com
security:
- accountSid_authToken: []
tags:
- name: IamV1GetApiKeys
paths:
  /v1/Keys:
    servers:
    - url: https://iam.twilio.com
    description: API keys
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      - flags
      mountName: get_api_keys
      className: get_api_keys
      pathType: list
    get:
      description: Retrieve a list of all Keys for a account.
      tags:
      - IamV1GetApiKeys
      parameters:
      - name: AccountSid
        in: query
        description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Payments resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
        required: true
        examples:
          readEmpty:
            value: REDACTED_TWILIO_ACCOUNT_SID
          readFull:
            value: REDACTED_TWILIO_ACCOUNT_SID
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/iam.v1.get_keys'
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type:
                        - string
                        - 'null'
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type:
                        - string
                        - 'null'
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListGetKeysResponse
              examples:
                readEmpty:
                  value:
                    keys: []
                    meta:
                      page: 0
                      page_size: 50
                      first_page_url: https://iam.twilio.com/v1/Keys?AccountSid=REDACTED_TWILIO_ACCOUNT_SID&PageSize=50&Page=0
                      previous_page_url: null
                      url: https://iam.twilio.com/v1/Keys?AccountSid=REDACTED_TWILIO_ACCOUNT_SID&PageSize=50&Page=0
                      next_page_url: null
                      key: keys
                readFull:
                  value:
                    keys:
                    - sid: REDACTED_TWILIO_API_KEY_SID
                      friendly_name: foo
                      date_created: Mon, 13 Jun 2016 22:50:08 +0000
                      date_updated: Mon, 13 Jun 2016 22:50:08 +0000
                      flags:
                      - rest_api
                      - signing
                    - sid: REDACTED_TWILIO_API_KEY_SID
                      friendly_name: bar
                      date_created: Mon, 13 Jun 2016 20:50:08 +0000
                      date_updated: Mon, 13 Jun 2016 20:50:08 +0000
                      flags:
                      - rest_api
                      - signing
                    meta:
                      page: 0
                      page_size: 50
                      first_page_url: https://iam.twilio.com/v1/Keys?AccountSid=REDACTED_TWILIO_ACCOUNT_SID&PageSize=50&Page=0
                      previous_page_url: null
                      url: https://iam.twilio.com/v1/Keys?AccountSid=REDACTED_TWILIO_ACCOUNT_SID&PageSize=50&Page=0
                      next_page_url: null
                      key: keys
          headers:
            Access-Control-Allow-Origin:
              description: Specify the origin(s) allowed to access the resource
              schema:
                type: string
              example: '*'
            Access-Control-Allow-Methods:
              description: Specify the HTTP methods allowed when accessing the resource
              schema:
                type: string
              example: POST, OPTIONS
            Access-Control-Allow-Headers:
              description: Specify the headers allowed when accessing the resource
              schema:
                type: string
              example: Content-Type, Authorization
            Access-Control-Allow-Credentials:
              description: Indicates whether the browser should include credentials
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              description: Headers exposed to the client
              schema:
                type: string
                example: X-Custom-Header1, X-Custom-Header2
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListGetKeys
      summary: List get keys
      x-summary-source: derived
components:
  schemas:
    iam.v1.get_keys:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^SK[0-9a-fA-F]{32}$
          description: The unique string that we created to identify the Key resource.
        friendly_name:
          type:
          - string
          - 'null'
          description: The string that you assigned to describe the resource.
        date_created:
          type:
          - string
          - 'null'
          format: date-time-rfc-2822
          description: The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time-rfc-2822
          description: The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        flags:
          type: array
          items:
            type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
    access_token_bearer:
      type: http
      scheme: bearer
      bearerFormat: access_token
    m2mOauth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: M2M Access Token
