openapi: 3.2.0
info:
  title: Twilio - Accounts A2p Settings API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Settings
paths:
  /v1/Settings:
    servers:
    - url: https://voice.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - dialing_permissions_inheritance
      pathType: instance
      parent: /DialingPermissions
      className: settings
    get:
      description: Retrieve voice dialing permissions inheritance for the sub-account
      tags:
      - Settings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_settings'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchDialingPermissionsSettings
      x-maturity:
      - Preview
    post:
      description: Update voice dialing permissions inheritance for the sub-account
      tags:
      - Settings
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_settings'
          description: Accepted
      security:
      - accountSid_authToken: []
      operationId: UpdateDialingPermissionsSettings
      x-maturity:
      - Preview
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateDialingPermissionsSettingsRequest'
components:
  schemas:
    UpdateDialingPermissionsSettingsRequest:
      type: object
      properties:
        DialingPermissionsInheritance:
          type: boolean
          description: '`true` for the sub-account to inherit voice dialing permissions from the Master Project; otherwise `false`.'
    voice.v1.dialing_permissions.dialing_permissions_settings:
      type: object
      properties:
        dialing_permissions_inheritance:
          type:
          - boolean
          - 'null'
          description: '`true` if the sub-account will inherit voice dialing permissions from the Master Project; otherwise `false`.'
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The absolute URL of this resource.
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
