openapi: 3.2.0
info:
  title: Twilio - Accounts A2p End User Types API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: EndUserTypes
paths:
  /v1/EndUserTypes:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
    get:
      description: Retrieve a list of all End-User Types.
      tags:
      - EndUserTypes
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEndUserTypeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListEndUserType
      x-maturity:
      - GA
  /v1/EndUserTypes/{Sid}:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
    get:
      description: Fetch a specific End-User Type Instance.
      tags:
      - EndUserTypes
      parameters:
      - name: Sid
        in: path
        description: The unique string that identifies the End-User Type resource.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.end_user_type'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchEndUserType
      x-maturity:
      - GA
components:
  schemas:
    ListEndUserTypeResponse:
      type: object
      properties:
        end_user_types:
          type: array
          items:
            $ref: '#/components/schemas/trusthub.v1.end_user_type'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    trusthub.v1.end_user_type:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^OY[0-9a-fA-F]{32}$
          description: The unique string that identifies the End-User Type resource.
        friendly_name:
          type:
          - string
          - 'null'
          description: A human-readable description that is assigned to describe the End-User Type resource. Examples can include first name, last name, email, business name, etc
        machine_name:
          type:
          - string
          - 'null'
          description: A machine-readable description of the End-User Type resource. Examples can include first_name, last_name, email, business_name, etc.
        fields:
          type:
          - array
          - 'null'
          items: {}
          description: The required information for creating an End-User. The required fields will change as regulatory needs change and will differ for businesses and individuals.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The absolute URL of the End-User Type resource.
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
