openapi: 3.0.1
info:
  title: Twilio - Accounts A2p Events API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Events
paths:
  /v1/Events/{Sid}:
    servers:
    - url: https://monitor.twilio.com
    description: Debugger events
    x-twilio:
      defaultOutputProperties:
      - sid
      - event_type
      - event_type
      - description
      pathType: instance
    get:
      description: ''
      tags:
      - Events
      parameters:
      - name: Sid
        in: path
        description: The SID of the Event resource to fetch.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AE[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/monitor.v1.event'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchEvent
      x-maturity:
      - GA
  /v1/Events:
    servers:
    - url: https://monitor.twilio.com
    description: Debugger events
    x-twilio:
      defaultOutputProperties:
      - sid
      - event_type
      - event_type
      - description
      pathType: list
    get:
      description: Returns a list of events in the account, sorted by event-date.
      tags:
      - Events
      parameters:
      - name: ActorSid
        in: query
        description: Only include events initiated by this Actor. Useful for auditing actions taken by specific users or API credentials.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^US[0-9a-fA-F]{32}$
      - name: EventType
        in: query
        description: Only include events of this [Event Type](https://www.twilio.com/docs/usage/monitor-events#event-types).
        schema:
          type: string
      - name: ResourceSid
        in: query
        description: Only include events that refer to this resource. Useful for discovering the history of a specific resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
      - name: SourceIpAddress
        in: query
        description: Only include events that originated from this IP address. Useful for tracking suspicious activity originating from the API or the Twilio Console.
        schema:
          type: string
      - name: StartDate
        in: query
        description: Only include events that occurred on or after this date. Specify the date in GMT and [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        schema:
          type: string
          format: date-time
      - name: EndDate
        in: query
        description: Only include events that occurred on or before this date. Specify the date in GMT and [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        schema:
          type: string
          format: date-time
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListEvent
      x-maturity:
      - GA
components:
  schemas:
    monitor.v1.event:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Event resource.
        actor_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^US[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the actor that caused the event, if available. Can be `null`.
        actor_type:
          type: string
          nullable: true
          description: 'The type of actor that caused the event. Can be: `user` for a change made by a logged-in user in the Twilio Console, `account` for an event caused by an API request by an authenticating Account, `twilio-admin` for an event caused by a Twilio employee, and so on.'
        description:
          type: string
          nullable: true
          description: A description of the event. Can be `null`.
        event_data:
          nullable: true
          description: An object with additional data about the event. The  contents depend on `event_type`. For example, event-types of the form `RESOURCE.updated`, this value contains a `resource_properties` dictionary that describes the previous and updated properties of the resource.
        event_date:
          type: string
          format: date-time
          nullable: true
          description: The date and time in GMT when the event was recorded specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        event_type:
          type: string
          nullable: true
          description: 'The event''s type. Event-types are typically in the form: `RESOURCE_TYPE.ACTION`, where `RESOURCE_TYPE` is the type of resource that was affected and `ACTION` is what happened to it. For example, `phone-number.created`. For a full list of all event-types, see the [Monitor Event Types](https://www.twilio.com/docs/usage/monitor-events#event-types).'
        resource_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the resource that was affected.
        resource_type:
          type: string
          nullable: true
          description: The type of resource that was affected. For a full list of all resource-types, see the [Monitor Event Types](https://www.twilio.com/docs/usage/monitor-events#event-types).
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AE[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that we created to identify the Event resource.
        source:
          type: string
          nullable: true
          description: 'The originating system or interface that caused the event.  Can be: `web` for events caused by user action in the Twilio Console, `api` for events caused by a request to our API, or   `twilio` for events caused by an automated or internal Twilio system.'
        source_ip_address:
          type: string
          nullable: true
          description: The IP address of the source, if the source is outside the Twilio cloud. This value is `null` for events with `source` of `twilio`
        url:
          type: string
          format: uri
          nullable: true
          description: The absolute URL of the resource that was affected. Can be `null`.
        links:
          type: object
          format: uri-map
          nullable: true
          description: The absolute URLs of related resources.
    ListEventResponse:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/monitor.v1.event'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type: string
              format: uri
              nullable: true
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type: string
              format: uri
              nullable: true
            url:
              type: string
              format: uri
            key:
              type: string
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
