openapi: 3.2.0
info:
  title: Twilio - Accounts A2p Content And Approvals API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: ContentAndApprovals
paths:
  /v1/ContentAndApprovals:
    servers:
    - url: https://content.twilio.com
    description: A Content resource represents rich messaging content and its respective approval request status.
    x-twilio:
      defaultOutputProperties:
      - date_created
      - date_updated
      - sid
      - account_sid
      - friendly_name
      - language
      - variables
      - types
      - approval_requests
      pathType: list
      className: content_and_approvals
    get:
      description: Retrieve a list of Contents with approval statuses belonging to the account used to make the request
      tags:
      - ContentAndApprovals
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContentAndApprovalsResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListContentAndApprovals
      x-maturity:
      - Preview
components:
  schemas:
    content.v1.content_and_approvals:
      type: object
      properties:
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
          description: The unique string that that we created to identify the Content resource.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The SID of the [Account](https://www.twilio.com/docs/usage/api/account) that created Content resource.
        friendly_name:
          type:
          - string
          - 'null'
          description: A string name used to describe the Content resource. Not visible to the end recipient.
        language:
          type:
          - string
          - 'null'
          description: Two-letter (ISO 639-1) language code (e.g., en) identifying the language the Content resource is in.
        variables:
          description: 'Defines the default placeholder values for variables included in the Content resource. e.g. {"1": "Customer_Name"}.'
        types:
          description: The [Content types](https://www.twilio.com/docs/content/content-types-overview) (e.g. twilio/text) for this Content resource.
        approval_requests:
          description: The submitted information and approval request status of the Content resource.
    ListContentAndApprovalsResponse:
      type: object
      properties:
        contents:
          type: array
          items:
            $ref: '#/components/schemas/content.v1.content_and_approvals'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
