openapi: 3.2.0
info:
  title: Twilio - Accounts A2p Settings Updates API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: SettingsUpdates
paths:
  /v1/SettingsUpdates:
    servers:
    - url: https://supersim.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - iccid
      - sim_sid
      - status
      pathType: list
    get:
      description: Retrieve a list of Settings Updates.
      tags:
      - SettingsUpdates
      parameters:
      - name: Sim
        in: query
        description: Filter the Settings Updates by a Super SIM's SID or UniqueName.
        schema:
          type: string
      - name: Status
        in: query
        description: Filter the Settings Updates by status. Can be `scheduled`, `in-progress`, `successful`, or `failed`.
        schema:
          type: string
          $ref: '#/components/schemas/settings_update_enum_status'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSettingsUpdateResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListSettingsUpdate
      x-maturity:
      - Beta
components:
  schemas:
    supersim.v1.settings_update:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^OB[0-9a-fA-F]{32}$
          description: The unique identifier of this Settings Update.
        iccid:
          type:
          - string
          - 'null'
          description: The [ICCID](https://en.wikipedia.org/wiki/SIM_card#ICCID) associated with the SIM.
        sim_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HS[0-9a-fA-F]{32}$
          description: The SID of the Super SIM to which this Settings Update was applied.
        status:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/settings_update_enum_status'
          description: The Status of this Settings Update. One of `scheduled`, `in-progress`, `successful` or `failed`.
        packages:
          type:
          - array
          - 'null'
          items: {}
          description: Array containing the different Settings Packages that will be applied to the SIM after the update completes. Each object within the array indicates the name and the version of the Settings Package that will be on the SIM if the update is successful.
        date_completed:
          type:
          - string
          - 'null'
          format: date-time
          description: The time, given in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format, when the update successfully completed and the new settings were applied to the SIM.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this Settings Update was created, given in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this Settings Update was updated, given in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
    ListSettingsUpdateResponse:
      type: object
      properties:
        settings_updates:
          type: array
          items:
            $ref: '#/components/schemas/supersim.v1.settings_update'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    settings_update_enum_status:
      type: string
      enum:
      - scheduled
      - in-progress
      - successful
      - failed
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
