openapi: 3.2.0
info:
  title: Twilio - Trusthub Supporting Documents API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://trusthub.twilio.com
tags:
- name: SupportingDocuments
paths:
  /v1/SupportingDocuments:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
    post:
      description: Create a new Supporting Document.
      tags:
      - SupportingDocuments
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.supporting_document'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateSupportingDocument
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSupportingDocumentRequest'
    get:
      description: Retrieve a list of all Supporting Document for an account.
      tags:
      - SupportingDocuments
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSupportingDocumentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListSupportingDocument
      x-maturity:
      - GA
  /v1/SupportingDocuments/{Sid}:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
    get:
      description: Fetch specific Supporting Document Instance.
      tags:
      - SupportingDocuments
      parameters:
      - name: Sid
        in: path
        description: The unique string created by Twilio to identify the Supporting Document resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RD[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.supporting_document'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchSupportingDocument
      x-maturity:
      - GA
    post:
      description: Update an existing Supporting Document.
      tags:
      - SupportingDocuments
      parameters:
      - name: Sid
        in: path
        description: The unique string created by Twilio to identify the Supporting Document resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RD[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.supporting_document'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateSupportingDocument
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateSupportingDocumentRequest'
    delete:
      description: Delete a specific Supporting Document.
      tags:
      - SupportingDocuments
      parameters:
      - name: Sid
        in: path
        description: The unique string created by Twilio to identify the Supporting Document resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RD[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteSupportingDocument
      x-maturity:
      - GA
components:
  schemas:
    trusthub.v1.supporting_document:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^RD[0-9a-fA-F]{32}$
          description: The unique string created by Twilio to identify the Supporting Document resource.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Document resource.
        friendly_name:
          type:
          - string
          - 'null'
          description: The string that you assigned to describe the resource.
        mime_type:
          type:
          - string
          - 'null'
          description: The image type uploaded in the Supporting Document container.
        status:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/supporting_document_enum_status'
          description: The verification status of the Supporting Document resource.
        type:
          type:
          - string
          - 'null'
          description: The type of the Supporting Document.
        attributes:
          description: The set of parameters that are the attributes of the Supporting Documents resource which are listed in the Supporting Document Types.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The absolute URL of the Supporting Document resource.
    CreateSupportingDocumentRequest:
      type: object
      required:
      - FriendlyName
      - Type
      properties:
        FriendlyName:
          type: string
          description: The string that you assigned to describe the resource.
        Type:
          type: string
          description: The type of the Supporting Document.
        Attributes:
          description: The set of parameters that are the attributes of the Supporting Documents resource which are derived Supporting Document Types.
    UpdateSupportingDocumentRequest:
      type: object
      properties:
        FriendlyName:
          type: string
          description: The string that you assigned to describe the resource.
        Attributes:
          description: The set of parameters that are the attributes of the Supporting Document resource which are derived Supporting Document Types.
    supporting_document_enum_status:
      type: string
      enum:
      - draft
      - pending-review
      - rejected
      - approved
      - expired
      - provisionally-approved
    ListSupportingDocumentResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/trusthub.v1.supporting_document'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
