openapi: 3.2.0
info:
  title: Twilio SendGrid Email Senders API
  description: Send, manage, and analyze emails at scale using the Twilio SendGrid Email API. Supports transactional and marketing email, dynamic templates, email validation, sender authentication, suppressions management, and real-time analytics.
  version: '3.0'
  contact:
    name: Twilio SendGrid Support
    url: https://support.sendgrid.com
    email: support@sendgrid.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://api.sendgrid.com/v3
  description: SendGrid API v3
security:
- bearerAuth: []
tags:
- name: Senders
  description: Manage verified sender identities
paths:
  /verified_senders:
    get:
      operationId: listVerifiedSenders
      summary: Twilio List Verified Senders
      tags:
      - Senders
      responses:
        '200':
          description: List of verified senders
    post:
      operationId: createVerifiedSender
      summary: Twilio Create a Verified Sender
      tags:
      - Senders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVerifiedSenderRequest'
      responses:
        '201':
          description: Verified sender created
        '400':
          description: Invalid request
components:
  schemas:
    CreateVerifiedSenderRequest:
      type: object
      required:
      - nickname
      - from_email
      - from_name
      - reply_to
      - reply_to_name
      - address
      - city
      - country
      properties:
        nickname:
          type: string
        from_email:
          type: string
          format: email
        from_name:
          type: string
        reply_to:
          type: string
          format: email
        reply_to_name:
          type: string
        address:
          type: string
        address2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use a SendGrid API key as the bearer token for authentication.
externalDocs:
  description: Twilio SendGrid API Documentation
  url: https://www.twilio.com/docs/sendgrid
