openapi: 3.0.1
info:
  title: Twilio - Accounts A2p SupportingDocumentTypes API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: SupportingDocumentTypes
paths:
  /v1/SupportingDocumentTypes:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
    get:
      description: Retrieve a list of all Supporting Document Types.
      tags:
      - SupportingDocumentTypes
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSupportingDocumentTypeResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListSupportingDocumentType
      x-maturity:
      - GA
  /v1/SupportingDocumentTypes/{Sid}:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
    get:
      description: Fetch a specific Supporting Document Type Instance.
      tags:
      - SupportingDocumentTypes
      parameters:
      - name: Sid
        in: path
        description: The unique string that identifies the Supporting Document Type resource.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.supporting_document_type'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchSupportingDocumentType
      x-maturity:
      - GA
components:
  schemas:
    ListSupportingDocumentTypeResponse:
      type: object
      properties:
        supporting_document_types:
          type: array
          items:
            $ref: '#/components/schemas/trusthub.v1.supporting_document_type'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type: string
              format: uri
              nullable: true
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type: string
              format: uri
              nullable: true
            url:
              type: string
              format: uri
            key:
              type: string
    trusthub.v1.supporting_document_type:
      type: object
      properties:
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^OY[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that identifies the Supporting Document Type resource.
        friendly_name:
          type: string
          nullable: true
          description: A human-readable description of the Supporting Document Type resource.
        machine_name:
          type: string
          nullable: true
          description: The machine-readable description of the Supporting Document Type resource.
        fields:
          type: array
          items: {}
          nullable: true
          description: The required information for creating a Supporting Document. The required fields will change as regulatory needs change and will differ for businesses and individuals.
        url:
          type: string
          format: uri
          nullable: true
          description: The absolute URL of the Supporting Document Type resource.
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
