openapi: 3.2.0
info:
  title: Twilio - Microvisor Apps API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://microvisor.twilio.com
tags:
- name: Apps
paths:
  /v1/Apps:
    servers:
    - url: https://microvisor.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      pathType: list
      dependentProperties:
        app_manifests:
          mapping:
            app_sid: sid
          resource_url: /v1None
    get:
      description: Retrieve a list of all Apps for an Account.
      tags:
      - Apps
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListApp
      x-maturity:
      - Preview
  /v1/Apps/{Sid}:
    servers:
    - url: https://microvisor.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      pathType: instance
      dependentProperties:
        app_manifests:
          mapping:
            app_sid: sid
          resource_url: /v1None
    get:
      description: Fetch a specific App.
      tags:
      - Apps
      parameters:
      - name: Sid
        in: path
        description: A 34-character string that uniquely identifies this App.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.app'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchApp
      x-maturity:
      - Preview
    delete:
      description: Delete a specific App.
      tags:
      - Apps
      parameters:
      - name: Sid
        in: path
        description: A 34-character string that uniquely identifies this App.
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteApp
      x-maturity:
      - Preview
  /v1/Apps/{AppSid}/Manifest:
    servers:
    - url: https://microvisor.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      parent: /Apps/{Sid}
      mountName: app_manifests
    get:
      description: Retrieve the Manifest for an App.
      tags:
      - Apps
      parameters:
      - name: AppSid
        in: path
        description: A 34-character string that uniquely identifies this App.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.app.app_manifest'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchAppManifest
      x-maturity:
      - Preview
components:
  schemas:
    ListAppResponse:
      type: object
      properties:
        apps:
          type: array
          items:
            $ref: '#/components/schemas/microvisor.v1.app'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    microvisor.v1.app.app_manifest:
      type: object
      properties:
        app_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^KA[0-9a-fA-F]{32}$
          description: A 34-character string that uniquely identifies this App.
        hash:
          type:
          - string
          - 'null'
          description: App manifest hash represented as `hash_algorithm:hash_value`.
        encoded_bytes:
          type:
          - string
          - 'null'
          description: The base-64 encoded manifest
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The absolute URL of this Manifest.
    microvisor.v1.app:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^KA[0-9a-fA-F]{32}$
          description: A 34-character string that uniquely identifies this App.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique SID identifier of the Account.
        hash:
          type:
          - string
          - 'null'
          description: App manifest hash represented as `hash_algorithm:hash_value`.
        unique_name:
          type:
          - string
          - 'null'
          description: A developer-defined string that uniquely identifies the App. This value must be unique for all Apps on this Account. The `unique_name` value may be used as an alternative to the `sid` in the URL path to address the resource.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this App was created, given in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this App was last updated, given in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The URL of this resource.
        links:
          type:
          - object
          - 'null'
          format: uri-map
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: Preview
  description: PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact https://www.twilio.com/help/contact.
