openapi: 3.0.1
info:
  title: Twilio - Accounts A2p IpRecords API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: IpRecords
paths:
  /v1/IpRecords:
    servers:
    - url: https://voice.twilio.com
    description: IP Records hold information about the IP addresses and ranges ([CIDR](https://tools.ietf.org/html/rfc4632) blocks) that your traffic will be associated with.
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - ip_address
      - cidr_prefix_length
      pathType: list
    post:
      description: ''
      tags:
      - IpRecords
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.ip_record'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateIpRecord
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateIpRecordRequest'
    get:
      description: ''
      tags:
      - IpRecords
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIpRecordResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListIpRecord
      x-maturity:
      - GA
  /v1/IpRecords/{Sid}:
    servers:
    - url: https://voice.twilio.com
    description: IP Records hold information about the IP addresses and ranges ([CIDR](https://tools.ietf.org/html/rfc4632) blocks) that your traffic will be associated with.
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - ip_address
      - cidr_prefix_length
      pathType: instance
    get:
      description: ''
      tags:
      - IpRecords
      parameters:
      - name: Sid
        in: path
        description: The Twilio-provided string that uniquely identifies the IP Record resource to fetch.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IL[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.ip_record'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchIpRecord
      x-maturity:
      - GA
    post:
      description: ''
      tags:
      - IpRecords
      parameters:
      - name: Sid
        in: path
        description: The Twilio-provided string that uniquely identifies the IP Record resource to update.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IL[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice.v1.ip_record'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateIpRecord
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateIpRecordRequest'
    delete:
      description: ''
      tags:
      - IpRecords
      parameters:
      - name: Sid
        in: path
        description: The Twilio-provided string that uniquely identifies the IP Record resource to delete.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IL[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteIpRecord
      x-maturity:
      - GA
components:
  schemas:
    CreateIpRecordRequest:
      type: object
      required:
      - IpAddress
      properties:
        IpAddress:
          type: string
          description: An IP address in dotted decimal notation, IPv4 only.
        FriendlyName:
          type: string
          description: A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.
        CidrPrefixLength:
          type: integer
          description: An integer representing the length of the [CIDR](https://tools.ietf.org/html/rfc4632) prefix to use with this IP address. By default the entire IP address is used, which for IPv4 is value 32.
    voice.v1.ip_record:
      type: object
      properties:
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the IP Record resource.
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IL[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string that we created to identify the IP Record resource.
        friendly_name:
          type: string
          nullable: true
          description: The string that you assigned to describe the resource.
        ip_address:
          type: string
          nullable: true
          description: An IP address in dotted decimal notation, IPv4 only.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        cidr_prefix_length:
          type: integer
          nullable: true
          description: An integer representing the length of the [CIDR](https://tools.ietf.org/html/rfc4632) prefix to use with this IP address. By default the entire IP address is used, which for IPv4 is value 32.
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.
        url:
          type: string
          format: uri
          nullable: true
          description: The absolute URL of the resource.
    ListIpRecordResponse:
      type: object
      properties:
        ip_records:
          type: array
          items:
            $ref: '#/components/schemas/voice.v1.ip_record'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type: string
              format: uri
              nullable: true
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type: string
              format: uri
              nullable: true
            url:
              type: string
              format: uri
            key:
              type: string
    UpdateIpRecordRequest:
      type: object
      properties:
        FriendlyName:
          type: string
          description: A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
