openapi: 3.2.0
info:
  title: Twilio - Numbers Hosted Number API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://numbers.twilio.com
tags:
- name: HostedNumber
paths:
  /v2/HostedNumber/AuthorizationDocuments/{Sid}:
    servers:
    - url: https://numbers.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      dependentProperties:
        dependent_hosted_number_orders:
          mapping:
            signing_document_sid: sid
          resource_url: /v2/HostedNumber/AuthorizationDocuments/{signing_document_sid}/DependentHostedNumberOrders
    get:
      description: Fetch a specific AuthorizationDocument.
      tags:
      - HostedNumber
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this AuthorizationDocument.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^PX[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.authorization_document'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchAuthorizationDocument
      x-maturity:
      - Beta
    delete:
      description: Cancel the AuthorizationDocument request.
      tags:
      - HostedNumber
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this AuthorizationDocument.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^PX[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteAuthorizationDocument
      x-maturity:
      - Beta
  /v2/HostedNumber/AuthorizationDocuments:
    servers:
    - url: https://numbers.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
      dependentProperties:
        dependent_hosted_number_orders:
          mapping:
            signing_document_sid: sid
          resource_url: /v2/HostedNumber/AuthorizationDocuments/{signing_document_sid}/DependentHostedNumberOrders
    get:
      description: Retrieve a list of AuthorizationDocuments belonging to the account initiating the request.
      tags:
      - HostedNumber
      parameters:
      - name: Email
        in: query
        description: Email that this AuthorizationDocument will be sent to for signing.
        schema:
          type: string
        x-twilio:
          pii:
            handling: standard
            deleteSla: 30
      - name: Status
        in: query
        description: 'Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values) for more information on each of these statuses.'
        schema:
          type: string
          $ref: '#/components/schemas/authorization_document_enum_status'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuthorizationDocumentResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListAuthorizationDocument
      x-maturity:
      - Beta
    post:
      description: Create an AuthorizationDocument for authorizing the hosting of phone number capabilities on Twilio's platform.
      tags:
      - HostedNumber
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.authorization_document'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateAuthorizationDocument
      x-maturity:
      - Beta
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAuthorizationDocumentRequest'
  /v2/HostedNumber/Orders/Bulk/{BulkHostingSid}:
    servers:
    - url: https://numbers.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      mountName: bulk_hosted_number_orders
    get:
      description: Fetch a specific BulkHostedNumberOrder.
      tags:
      - HostedNumber
      parameters:
      - name: BulkHostingSid
        in: path
        description: A 34 character string that uniquely identifies this BulkHostedNumberOrder.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^BH[0-9a-fA-F]{32}$
        required: true
      - name: OrderStatus
        in: query
        description: Order status can be used for filtering on Hosted Number Order status values. To see a complete list of order statuses, please check 'https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/hosted-number-order-resource#status-values'.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.bulk_hosted_number_order'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchBulkHostedNumberOrder
      x-maturity:
      - Beta
  /v2/HostedNumber/AuthorizationDocuments/{SigningDocumentSid}/DependentHostedNumberOrders:
    servers:
    - url: https://numbers.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
      parent: /HostedNumber/AuthorizationDocuments/{Sid}
    get:
      description: Retrieve a list of dependent HostedNumberOrders belonging to the AuthorizationDocument.
      tags:
      - HostedNumber
      parameters:
      - name: SigningDocumentSid
        in: path
        description: A 34 character string that uniquely identifies the LOA document associated with this HostedNumberOrder.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^PX[0-9a-fA-F]{32}$
        required: true
      - name: Status
        in: query
        description: 'Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values) for more information on each of these statuses.'
        schema:
          type: string
          $ref: '#/components/schemas/dependent_hosted_number_order_enum_status'
      - name: PhoneNumber
        in: query
        description: An E164 formatted phone number hosted by this HostedNumberOrder.
        schema:
          type: string
          format: phone-number
      - name: IncomingPhoneNumberSid
        in: query
        description: A 34 character string that uniquely identifies the IncomingPhoneNumber resource created by this HostedNumberOrder.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
      - name: FriendlyName
        in: query
        description: A human readable description of this resource, up to 128 characters.
        schema:
          type: string
        x-twilio:
          pii:
            handling: standard
            deleteSla: 30
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDependentHostedNumberOrderResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListDependentHostedNumberOrder
      x-maturity:
      - Beta
  /v2/HostedNumber/Orders/{Sid}:
    servers:
    - url: https://numbers.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      mountName: hosted_number_orders
    get:
      description: Fetch a specific HostedNumberOrder.
      tags:
      - HostedNumber
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this HostedNumberOrder.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HR[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.hosted_number_order'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchHostedNumberOrder
      x-maturity:
      - Beta
    delete:
      description: Cancel the HostedNumberOrder (only available when the status is in `received`).
      tags:
      - HostedNumber
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this HostedNumberOrder.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HR[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteHostedNumberOrder
      x-maturity:
      - Beta
  /v2/HostedNumber/Orders:
    servers:
    - url: https://numbers.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
      mountName: hosted_number_orders
    get:
      description: Retrieve a list of HostedNumberOrders belonging to the account initiating the request.
      tags:
      - HostedNumber
      parameters:
      - name: Status
        in: query
        description: The Status of this HostedNumberOrder. One of `received`, `pending-verification`, `verified`, `pending-loa`, `carrier-processing`, `testing`, `completed`, `failed`, or `action-required`.
        schema:
          type: string
          $ref: '#/components/schemas/hosted_number_order_enum_status'
      - name: SmsCapability
        in: query
        description: Whether the SMS capability will be hosted on our platform. Can be `true` of `false`.
        schema:
          type: boolean
      - name: PhoneNumber
        in: query
        description: An E164 formatted phone number hosted by this HostedNumberOrder.
        schema:
          type: string
          format: phone-number
        x-twilio:
          pii:
            handling: standard
            deleteSla: 30
      - name: IncomingPhoneNumberSid
        in: query
        description: A 34 character string that uniquely identifies the IncomingPhoneNumber resource created by this HostedNumberOrder.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
      - name: FriendlyName
        in: query
        description: A human readable description of this resource, up to 128 characters.
        schema:
          type: string
        x-twilio:
          pii:
            handling: standard
            deleteSla: 30
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHostedNumberOrderResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListHostedNumberOrder
      x-maturity:
      - Beta
    post:
      description: Host a phone number's capability on Twilio's platform.
      tags:
      - HostedNumber
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/numbers.v2.hosted_number_order'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateHostedNumberOrder
      x-maturity:
      - Beta
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateHostedNumberOrderRequest'
components:
  schemas:
    ListAuthorizationDocumentResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/numbers.v2.authorization_document'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    hosted_number_order_enum_status:
      type: string
      enum:
      - received
      - verified
      - pending-loa
      - carrier-processing
      - completed
      - failed
      - action-required
    CreateHostedNumberOrderRequest:
      type: object
      required:
      - PhoneNumber
      - ContactPhoneNumber
      - AddressSid
      - Email
      properties:
        PhoneNumber:
          type: string
          format: phone-number
          description: The number to host in [+E.164](https://en.wikipedia.org/wiki/E.164) format
        ContactPhoneNumber:
          type: string
          format: phone-number
          description: The contact phone number of the person authorized to sign the Authorization Document.
        AddressSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AD[0-9a-fA-F]{32}$
          description: Optional. A 34 character string that uniquely identifies the Address resource that represents the address of the owner of this phone number.
        Email:
          type: string
          description: Optional. Email of the owner of this phone number that is being hosted.
        AccountSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: This defaults to the AccountSid of the authorization the user is using. This can be provided to specify a subaccount to add the HostedNumberOrder to.
        FriendlyName:
          type: string
          description: A 128 character string that is a human readable text that describes this resource.
        CcEmails:
          type: array
          items:
            type: string
          description: Optional. A list of emails that the LOA document for this HostedNumberOrder will be carbon copied to.
        SmsUrl:
          type: string
          format: uri
          description: The URL that Twilio should request when somebody sends an SMS to the phone number. This will be copied onto the IncomingPhoneNumber resource.
        SmsMethod:
          type: string
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: The HTTP method that should be used to request the SmsUrl. Must be either `GET` or `POST`.  This will be copied onto the IncomingPhoneNumber resource.
        SmsFallbackUrl:
          type: string
          format: uri
          description: A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by SmsUrl. This will be copied onto the IncomingPhoneNumber resource.
        SmsCapability:
          type: boolean
          description: Used to specify that the SMS capability will be hosted on Twilio's platform.
        SmsFallbackMethod:
          type: string
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: The HTTP method that should be used to request the SmsFallbackUrl. Must be either `GET` or `POST`. This will be copied onto the IncomingPhoneNumber resource.
        StatusCallbackUrl:
          type: string
          format: uri
          description: Optional. The Status Callback URL attached to the IncomingPhoneNumber resource.
        StatusCallbackMethod:
          type: string
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: Optional. The Status Callback Method attached to the IncomingPhoneNumber resource.
        SmsApplicationSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AP[0-9a-fA-F]{32}$
          description: Optional. The 34 character sid of the application Twilio should use to handle SMS messages sent to this number. If a `SmsApplicationSid` is present, Twilio will ignore all of the SMS urls above and use those set on the application.
        ContactTitle:
          type: string
          description: The title of the person authorized to sign the Authorization Document for this phone number.
    ListDependentHostedNumberOrderResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/numbers.v2.authorization_document.dependent_hosted_number_order'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    authorization_document_enum_status:
      type: string
      enum:
      - opened
      - signing
      - signed
      - canceled
      - failed
    ListHostedNumberOrderResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/numbers.v2.hosted_number_order'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    numbers.v2.bulk_hosted_number_order:
      type: object
      properties:
        bulk_hosting_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^BH[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this BulkHostedNumberOrder.
        request_status:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/bulk_hosted_number_order_enum_request_status'
          description: 'A string that shows the status of the current Bulk Hosting request, it can vary between these values: ''QUEUED'',''IN_PROGRESS'',''PROCESSED'''
        friendly_name:
          type:
          - string
          - 'null'
          description: A 128 character string that is a human-readable text that describes this resource.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        notification_email:
          type:
          - string
          - 'null'
          description: Email address used for send notifications about this Bulk hosted number request.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
        date_completed:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was completed, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The URL of this BulkHostedNumberOrder resource.
        total_count:
          type:
          - integer
          - 'null'
          description: The total count of phone numbers in this Bulk hosting request.
        results:
          type:
          - array
          - 'null'
          items: {}
          description: Contains a list of all the individual hosting orders and their information, for this Bulk request. Each result object is grouped by its order status. To see a complete list of order status, please check 'https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/hosted-number-order-resource#status-values'.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
    numbers.v2.hosted_number_order:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HR[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this HostedNumberOrder.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the account.
        incoming_phone_number_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the [IncomingPhoneNumber](https://www.twilio.com/docs/phone-numbers/api/incomingphonenumber-resource) resource that represents the phone number being hosted.
        address_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AD[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the Address resource that represents the address of the owner of this phone number.
        signing_document_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^PX[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the [Authorization Document](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource) the user needs to sign.
        phone_number:
          type:
          - string
          - 'null'
          format: phone-number
          description: Phone number to be hosted. This must be in [E.164](https://en.wikipedia.org/wiki/E.164) format, e.g., +16175551212
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        capabilities:
          type:
          - object
          - 'null'
          format: phone-number-capabilities
          properties:
            mms:
              type: boolean
            sms:
              type: boolean
            voice:
              type: boolean
            fax:
              type: boolean
          description: Set of booleans describing the capabilities hosted on Twilio's platform. SMS is currently only supported.
        friendly_name:
          type:
          - string
          - 'null'
          description: A 128 character string that is a human-readable text that describes this resource.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        status:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/hosted_number_order_enum_status'
          description: 'Status of this resource. It can hold one of the values: 1. Twilio Processing 2. Received, 3. Pending LOA, 4. Carrier Processing, 5. Completed, 6. Action Required, 7. Failed. See the [HostedNumberOrders Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/hosted-number-order-resource#status-values) section for more information on each of these statuses.'
        failure_reason:
          type:
          - string
          - 'null'
          description: A message that explains why a hosted_number_order went to status "action-required"
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was updated, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
        email:
          type:
          - string
          - 'null'
          description: Email of the owner of this phone number that is being hosted.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        cc_emails:
          type:
          - array
          - 'null'
          items:
            type: string
          description: A list of emails that LOA document for this HostedNumberOrder will be carbon copied to.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The URL of this HostedNumberOrder.
        contact_title:
          type:
          - string
          - 'null'
          description: The title of the person authorized to sign the Authorization Document for this phone number.
        contact_phone_number:
          type:
          - string
          - 'null'
          format: phone-number
          description: The contact phone number of the person authorized to sign the Authorization Document.
        bulk_hosting_request_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^BH[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the bulk hosting request associated with this HostedNumberOrder.
        next_step:
          type:
          - string
          - 'null'
          description: The next step you need to take to complete the hosted number order and request it successfully.
    dependent_hosted_number_order_enum_status:
      type: string
      enum:
      - received
      - verified
      - pending-loa
      - carrier-processing
      - completed
      - failed
      - action-required
    CreateAuthorizationDocumentRequest:
      type: object
      required:
      - AddressSid
      - Email
      - ContactPhoneNumber
      - HostedNumberOrderSids
      properties:
        AddressSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AD[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the Address resource that is associated with this AuthorizationDocument.
        Email:
          type: string
          description: Email that this AuthorizationDocument will be sent to for signing.
        ContactPhoneNumber:
          type: string
          format: phone-number
          description: The contact phone number of the person authorized to sign the Authorization Document.
        HostedNumberOrderSids:
          type: array
          items:
            type: string
          description: A list of HostedNumberOrder sids that this AuthorizationDocument will authorize for hosting phone number capabilities on Twilio's platform.
        ContactTitle:
          type: string
          description: The title of the person authorized to sign the Authorization Document for this phone number.
        CcEmails:
          type: array
          items:
            type: string
          description: Email recipients who will be informed when an Authorization Document has been sent and signed.
    numbers.v2.authorization_document:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^PX[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this AuthorizationDocument.
        address_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AD[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the Address resource that is associated with this AuthorizationDocument.
        status:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/authorization_document_enum_status'
          description: 'Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values) for more information on each of these statuses.'
        email:
          type:
          - string
          - 'null'
          description: Email that this AuthorizationDocument will be sent to for signing.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        cc_emails:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Email recipients who will be informed when an Authorization Document has been sent and signed.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was updated, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
        url:
          type:
          - string
          - 'null'
          format: uri
        links:
          type:
          - object
          - 'null'
          format: uri-map
    numbers.v2.authorization_document.dependent_hosted_number_order:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HR[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this Authorization Document
        bulk_hosting_request_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^BH[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the bulk hosting request associated with this HostedNumberOrder.
        next_step:
          type:
          - string
          - 'null'
          description: The next step you need to take to complete the hosted number order and request it successfully.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique SID identifier of the Account.
        incoming_phone_number_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the IncomingPhoneNumber resource created by this HostedNumberOrder.
        address_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AD[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the Address resource that represents the address of the owner of this phone number.
        signing_document_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^PX[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the LOA document associated with this HostedNumberOrder.
        phone_number:
          type:
          - string
          - 'null'
          format: phone-number
          description: An E164 formatted phone number hosted by this HostedNumberOrder.
        capabilities:
          type:
          - object
          - 'null'
          format: phone-number-capabilities
          properties:
            mms:
              type: boolean
            sms:
              type: boolean
            voice:
              type: boolean
            fax:
              type: boolean
          description: A mapping of capabilities this hosted phone number will have enabled on Twilio's platform.
        friendly_name:
          type:
          - string
          - 'null'
          description: A human readable description of this resource, up to 128 characters.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        status:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/dependent_hosted_number_order_enum_status'
          description: 'Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/phone-numbers/hosted-numbers/hosted-numbers-api/authorization-document-resource#status-values) for more information on each of these statuses.'
        failure_reason:
          type:
          - string
          - 'null'
          description: A message that explains why a hosted_number_order went to status "action-required"
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date this resource was created, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was updated, given as [GMT RFC 2822](http://www.ietf.org/rfc/rfc2822.txt) format.
        email:
          type:
          - string
          - 'null'
          description: Email of the owner of this phone number that is being hosted.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        cc_emails:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Email recipients who will be informed when an Authorization Document has been sent and signed
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        contact_title:
          type:
          - string
          - 'null'
          description: The title of the person authorized to sign the Authorization Document for this phone number.
        contact_phone_number:
          type:
          - string
          - 'null'
          format: phone-number
          description: The contact phone number of the person authorized to sign the Authorization Document.
    bulk_hosted_number_order_enum_request_status:
      type: string
      enum:
      - QUEUED
      - IN_PROGRESS
      - PROCESSED
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
