openapi: 3.2.0
info:
  title: Twilio Verify Challenges API
  description: User verification and two-factor authentication API. Send verification codes via SMS, voice, email, WhatsApp, or push notifications. Supports TOTP, push authentication, and silent network authentication for fraud prevention and user identity verification.
  version: '2.0'
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://verify.twilio.com/v2
  description: Twilio Verify API v2
security:
- accountSid_authToken: []
tags:
- name: Challenges
  description: Manage push authentication challenges
paths:
  /Services/{ServiceSid}/Entities/{Identity}/Challenges:
    get:
      operationId: listChallenges
      summary: Twilio List Challenges for an Entity
      tags:
      - Challenges
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      - name: Identity
        in: path
        required: true
        schema:
          type: string
      - name: FactorSid
        in: query
        schema:
          type: string
          pattern: ^YF[0-9a-fA-F]{32}$
      - name: Status
        in: query
        schema:
          type: string
          enum:
          - pending
          - expired
          - approved
          - denied
      responses:
        '200':
          description: List of challenges
    post:
      operationId: createChallenge
      summary: Twilio Create a Challenge
      description: Create a new push authentication challenge for an entity.
      tags:
      - Challenges
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      - name: Identity
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - FactorSid
              properties:
                FactorSid:
                  type: string
                  pattern: ^YF[0-9a-fA-F]{32}$
                ExpirationDate:
                  type: string
                  format: date-time
                Details.Message:
                  type: string
                  description: Message to display in the push notification
                Details.Fields:
                  type: string
                  description: JSON array of label/value pairs for context
                HiddenDetails:
                  type: string
                  description: JSON object with hidden challenge details
      responses:
        '201':
          description: Challenge created
components:
  parameters:
    ServiceSid:
      name: ServiceSid
      in: path
      required: true
      description: The SID of the Verify service
      schema:
        type: string
        pattern: ^VA[0-9a-fA-F]{32}$
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
      description: Use your Twilio Account SID as the username and Auth Token as the password for HTTP Basic authentication.
externalDocs:
  description: Twilio Verify API Documentation
  url: https://www.twilio.com/docs/verify/api
