openapi: 3.2.0
info:
  title: Twilio - Routes Phone Numbers API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://routes.twilio.com
tags:
- name: PhoneNumbers
paths:
  /v2/PhoneNumbers/{PhoneNumber}:
    servers:
    - url: https://routes.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      - date_created
      pathType: instance
    post:
      description: Assign an Inbound Processing Region to a phone number.
      tags:
      - PhoneNumbers
      parameters:
      - name: PhoneNumber
        in: path
        description: The phone number in E.164 format
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.phone_number'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdatePhoneNumber
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdatePhoneNumberRequest'
    get:
      description: Fetch the Inbound Processing Region assigned to a phone number.
      tags:
      - PhoneNumbers
      parameters:
      - name: PhoneNumber
        in: path
        description: The phone number in E.164 format
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routes.v2.phone_number'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchPhoneNumber
      x-maturity:
      - GA
components:
  schemas:
    routes.v2.phone_number:
      type: object
      properties:
        phone_number:
          type:
          - string
          - 'null'
          description: The phone number in E.164 format
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The absolute URL of the resource.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^QQ[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies the Inbound Processing Region assignments for this phone number.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique SID identifier of the Account.
        friendly_name:
          type:
          - string
          - 'null'
          description: A human readable description of the Inbound Processing Region assignments for this phone number, up to 64 characters.
        voice_region:
          type:
          - string
          - 'null'
          description: The Inbound Processing Region used for this phone number for voice.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this phone number was assigned an Inbound Processing Region, given in ISO 8601 format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that the Inbound Processing Region was updated for this phone number, given in ISO 8601 format.
    UpdatePhoneNumberRequest:
      type: object
      properties:
        VoiceRegion:
          type: string
          description: The Inbound Processing Region used for this phone number for voice
        FriendlyName:
          type: string
          description: A human readable description of this resource, up to 64 characters.
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
