openapi: 3.2.0
info:
  title: Twilio - Iam Iam V1Role Permission API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
  x-twilio:
    apiStandards: v0.1
servers:
- url: https://iam.twilio.com
security:
- accountSid_authToken: []
tags:
- name: IamV1RolePermission
paths:
  /v1/Roles/{RoleSid}/Permissions:
    servers:
    - url: https://iam.twilio.com
    description: ''
    x-twilio:
      defaultOutputProperties: []
      mountName: role_permission
      parent: /v1/Roles/{Sid}
      pathType: list
    get:
      description: List resolved permissions for a role
      tags:
      - IamV1RolePermission
      parameters:
      - name: RoleSid
        in: path
        description: The SID of the Role for which Permissions will be fetched.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IX[0-9a-fA-F]{32}$
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 100.
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions:
                    type: array
                    items:
                      $ref: '#/components/schemas/iam.v1.role_permission'
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type:
                        - string
                        - 'null'
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type:
                        - string
                        - 'null'
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListRolePermissionResponse
              examples:
                readEmpty:
                  value:
                    permissions: []
                    meta:
                      page: 0
                      page_size: 50
                      first_page_url: https://iam.twilio.com/v1/Roles/IXaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Permissions?PageSize=50&Page=0
                      previous_page_url: null
                      url: https://iam.twilio.com/v1/Roles/IXaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Permissions?PageSize=50&Page=0
                      next_page_url: null
                      key: permissions
                readFull:
                  value:
                    permissions:
                    - sid: IZaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                      namespace: twilio
                      product: iam
                      resource: roles
                      action: read
                      externalDescription: Read access to IAM roles
                    meta:
                      page: 0
                      page_size: 50
                      first_page_url: https://iam.twilio.com/v1/Roles/IXaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Permissions?PageSize=50&Page=0
                      previous_page_url: null
                      url: https://iam.twilio.com/v1/Roles/IXaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/Permissions?PageSize=50&Page=0
                      next_page_url: null
                      key: permissions
          headers:
            Access-Control-Allow-Origin:
              description: Specify the origin(s) allowed to access the resource
              schema:
                type: string
              example: '*'
            Access-Control-Allow-Methods:
              description: Specify the HTTP methods allowed when accessing the resource
              schema:
                type: string
              example: POST, OPTIONS
            Access-Control-Allow-Headers:
              description: Specify the headers allowed when accessing the resource
              schema:
                type: string
              example: Content-Type, Authorization
            Access-Control-Allow-Credentials:
              description: Indicates whether the browser should include credentials
              schema:
                type: boolean
            Access-Control-Expose-Headers:
              description: Headers exposed to the client
              schema:
                type: string
                example: X-Custom-Header1, X-Custom-Header2
          description: OK
      security: []
      operationId: ListRolePermission
      summary: List role permission
      x-summary-source: derived
components:
  schemas:
    iam.v1.role_permission:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^IZ[0-9a-fA-F]{32}$
          description: The unique string that identifies the Permission resource.
        namespace:
          type:
          - string
          - 'null'
          description: The namespace of the permission (e.g., twilio).
        product:
          type:
          - string
          - 'null'
          description: The product the permission belongs to (e.g., iam).
        resource:
          type:
          - string
          - 'null'
          description: The resource the permission applies to (e.g., roles).
        action:
          type:
          - string
          - 'null'
          description: The action granted by the permission (e.g., read).
        externalDescription:
          type:
          - string
          - 'null'
          description: The external description of the permission.
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
    access_token_bearer:
      type: http
      scheme: bearer
      bearerFormat: access_token
    m2mOauth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: M2M Access Token
