openapi: 3.2.0
info:
  title: Twilio Messaging Short Codes API
  description: Send and receive SMS and MMS messages globally using Twilio's Messaging API. Supports programmable messaging, messaging services, alphanumeric sender IDs, A2P 10DLC registration, toll-free verification, and link shortening.
  version: '2.0'
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://api.twilio.com/2010-04-01
  description: Twilio REST API v1
- url: https://messaging.twilio.com/v1
  description: Twilio Messaging Service API
security:
- accountSid_authToken: []
tags:
- name: Short Codes
  description: Manage short codes for messaging services
paths:
  /Services/{ServiceSid}/ShortCodes:
    get:
      operationId: listShortCodes
      summary: Twilio List Short Codes in a Messaging Service
      tags:
      - Short Codes
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      responses:
        '200':
          description: List of short codes
          content:
            application/json:
              schema:
                type: object
                properties:
                  short_codes:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShortCode'
    post:
      operationId: addShortCode
      summary: Twilio Add a Short Code to a Messaging Service
      tags:
      - Short Codes
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - ShortCodeSid
              properties:
                ShortCodeSid:
                  type: string
                  description: SID of the short code to add
                  pattern: ^SC[0-9a-fA-F]{32}$
      responses:
        '201':
          description: Short code added
        '400':
          description: Invalid request
components:
  parameters:
    ServiceSid:
      name: ServiceSid
      in: path
      required: true
      description: The unique identifier of the messaging service
      schema:
        type: string
        pattern: ^MG[0-9a-fA-F]{32}$
  schemas:
    ShortCode:
      type: object
      properties:
        sid:
          type: string
          pattern: ^SC[0-9a-fA-F]{32}$
        short_code:
          type: string
        country_code:
          type: string
        capabilities:
          type: array
          items:
            type: string
        date_created:
          type: string
          format: date-time
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
      description: Use your Twilio Account SID as the username and Auth Token as the password for HTTP Basic authentication.
externalDocs:
  description: Twilio Messaging API Documentation
  url: https://www.twilio.com/docs/messaging/api
