openapi: 3.2.0
info:
  title: Twilio - Media Media Recordings API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://media.twilio.com
tags:
- name: MediaRecordings
paths:
  /v1/MediaRecordings/{Sid}:
    servers:
    - url: https://media.twilio.com
    description: A MediaRecording resource exposes recording metadata and allows the deletion of a particular recording.
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      pathType: instance
      dependentProperties:
        timed_metadata:
          mapping:
            media_recording_sid: sid
          resource_url: /v1None
        media:
          mapping:
            media_recording_sid: sid
          resource_url: /v1None
      mountName: media_recording
    delete:
      description: Deletes a MediaRecording resource identified by a SID.
      tags:
      - MediaRecordings
      parameters:
      - name: Sid
        in: path
        description: The SID of the MediaRecording resource to delete.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^KV[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteMediaRecording
      x-maturity:
      - Preview
    get:
      description: Returns a single MediaRecording resource identified by a SID.
      tags:
      - MediaRecordings
      parameters:
      - name: Sid
        in: path
        description: The SID of the MediaRecording resource to fetch.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^KV[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/media.v1.media_recording'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchMediaRecording
      x-maturity:
      - Preview
  /v1/MediaRecordings:
    servers:
    - url: https://media.twilio.com
    description: A MediaRecording resource exposes recording metadata and allows the deletion of a particular recording.
    x-twilio:
      defaultOutputProperties:
      - sid
      - status
      pathType: list
      dependentProperties:
        timed_metadata:
          mapping:
            media_recording_sid: sid
          resource_url: /v1None
        media:
          mapping:
            media_recording_sid: sid
          resource_url: /v1None
      mountName: media_recording
    get:
      description: Returns a list of MediaRecordings.
      tags:
      - MediaRecordings
      parameters:
      - name: Order
        in: query
        description: 'The sort order of the list by `date_created`. Can be: `asc` (ascending) or `desc` (descending) with `desc` as the default.'
        schema:
          type: string
          $ref: '#/components/schemas/media_recording_enum_order'
      - name: Status
        in: query
        description: Status to filter by, with possible values `processing`, `completed`, `deleted`, or `failed`.
        schema:
          type: string
          $ref: '#/components/schemas/media_recording_enum_status'
      - name: ProcessorSid
        in: query
        description: SID of a MediaProcessor to filter by.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^ZX[0-9a-fA-F]{32}$
      - name: SourceSid
        in: query
        description: SID of a MediaRecording source to filter by.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMediaRecordingResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListMediaRecording
      x-maturity:
      - Preview
components:
  schemas:
    media_recording_enum_status:
      type: string
      enum:
      - processing
      - completed
      - deleted
      - failed
    media_recording_enum_format:
      type: string
      enum:
      - mp4
      - webm
    ListMediaRecordingResponse:
      type: object
      properties:
        media_recordings:
          type: array
          items:
            $ref: '#/components/schemas/media.v1.media_recording'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    media_recording_enum_order:
      type: string
      enum:
      - asc
      - desc
    media.v1.media_recording:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the MediaRecording resource.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        duration:
          type:
          - integer
          - 'null'
          description: The duration of the MediaRecording in seconds.
        format:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/media_recording_enum_format'
          description: The format of the MediaRecording, either `mp4` or `webm`.
        links:
          type:
          - object
          - 'null'
          format: uri-map
          description: The URLs of related resources.
        processor_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^ZX[0-9a-fA-F]{32}$
          description: The SID of the MediaProcessor resource which produced the MediaRecording.
        resolution:
          type:
          - string
          - 'null'
          description: The dimensions of the video image in pixels expressed as columns (width) and rows (height).
        source_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          description: The SID of the resource that generated the original media track(s) of the MediaRecording.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^KV[0-9a-fA-F]{32}$
          description: The unique string generated to identify the MediaRecording resource.
        media_size:
          type:
          - integer
          - 'null'
          format: int64
          description: The size of the recording media in bytes.
        status:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/media_recording_enum_status'
          description: 'The status of the MediaRecording. Can be: `processing`, `completed`, `deleted`, or `failed`.'
        status_callback:
          type:
          - string
          - 'null'
          format: uri
          description: The URL to which Twilio will send asynchronous webhook requests for every MediaRecording event. See [Status Callbacks](/docs/live/api/status-callbacks) for more details.
        status_callback_method:
          type:
          - string
          - 'null'
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: The HTTP method Twilio should use to call the `status_callback` URL. Can be `POST` or `GET` and the default is `POST`.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The absolute URL of the resource.
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Preview
  description: PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact https://www.twilio.com/help/contact.
