openapi: 3.2.0
info:
  title: Twilio - Accounts A2p Fleets API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Fleets
paths:
  /v1/Fleets:
    servers:
    - url: https://supersim.twilio.com
    description: Configure shared settings inherited by all Super SIMs assigned to the Fleet
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - data_metering
      pathType: list
    post:
      description: Create a Fleet
      tags:
      - Fleets
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supersim.v1.fleet'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateFleet
      x-maturity:
      - Beta
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateFleetRequest'
    get:
      description: Retrieve a list of Fleets from your account.
      tags:
      - Fleets
      parameters:
      - name: NetworkAccessProfile
        in: query
        description: The SID or unique name of the Network Access Profile that controls which cellular networks the Fleet's SIMs can connect to.
        schema:
          type: string
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFleetResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListFleet
      x-maturity:
      - Beta
  /v1/Fleets/{Sid}:
    servers:
    - url: https://supersim.twilio.com
    description: Configure shared settings inherited by all Super SIMs assigned to the Fleet
    x-twilio:
      defaultOutputProperties:
      - sid
      - unique_name
      - data_metering
      pathType: instance
    get:
      description: Fetch a Fleet instance from your account.
      tags:
      - Fleets
      parameters:
      - name: Sid
        in: path
        description: The SID of the Fleet resource to fetch.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supersim.v1.fleet'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchFleet
      x-maturity:
      - Beta
    post:
      description: Updates the given properties of a Super SIM Fleet instance from your account.
      tags:
      - Fleets
      parameters:
      - name: Sid
        in: path
        description: The SID of the Fleet resource to update.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/supersim.v1.fleet'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateFleet
      x-maturity:
      - Beta
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateFleetRequest'
components:
  schemas:
    ListFleetResponse:
      type: object
      properties:
        fleets:
          type: array
          items:
            $ref: '#/components/schemas/supersim.v1.fleet'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    supersim.v1.fleet:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Fleet resource.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HF[0-9a-fA-F]{32}$
          description: The unique string that we created to identify the Fleet resource.
        unique_name:
          type:
          - string
          - 'null'
          description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The absolute URL of the Fleet resource.
        data_enabled:
          type:
          - boolean
          - 'null'
          description: Defines whether SIMs in the Fleet are capable of using 2G/3G/4G/LTE/CAT-M data connectivity. Defaults to `true`.
        data_limit:
          type:
          - integer
          - 'null'
          description: The total data usage (download and upload combined) in Megabytes that each Super SIM assigned to the Fleet can consume during a billing period (normally one month). Value must be between 1MB (1) and 2TB (2,000,000). Defaults to 250MB.
        data_metering:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/fleet_enum_data_metering'
          description: The model by which a SIMs usage is metered and billed. Defaults to `payg`.
        sms_commands_enabled:
          type:
          - boolean
          - 'null'
          description: Defines whether SIMs in the Fleet are capable of sending and receiving machine-to-machine SMS via Commands. Defaults to `false`.
        sms_commands_url:
          type:
          - string
          - 'null'
          format: uri
          description: The URL that will receive a webhook when a Super SIM in the Fleet is used to send an SMS from your device to the SMS Commands number. Your server should respond with an HTTP status code in the 200 range; any response body will be ignored.
        sms_commands_method:
          type:
          - string
          - 'null'
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: A string representing the HTTP method to use when making a request to `sms_commands_url`. Can be one of `POST` or `GET`. Defaults to `POST`.
        network_access_profile_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HA[0-9a-fA-F]{32}$
          description: The SID of the Network Access Profile that controls which cellular networks the Fleet's SIMs can connect to.
        ip_commands_url:
          type:
          - string
          - 'null'
          format: uri
          description: The URL that will receive a webhook when a Super SIM in the Fleet is used to send an IP Command from your device to a special IP address. Your server should respond with an HTTP status code in the 200 range; any response body will be ignored.
        ip_commands_method:
          type:
          - string
          - 'null'
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: A string representing the HTTP method to use when making a request to `ip_commands_url`. Can be one of `POST` or `GET`. Defaults to `POST`.
    UpdateFleetRequest:
      type: object
      properties:
        UniqueName:
          type: string
          description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource.
        NetworkAccessProfile:
          type: string
          description: The SID or unique name of the Network Access Profile that will control which cellular networks the Fleet's SIMs can connect to.
        IpCommandsUrl:
          type: string
          format: uri
          description: The URL that will receive a webhook when a Super SIM in the Fleet is used to send an IP Command from your device to a special IP address. Your server should respond with an HTTP status code in the 200 range; any response body will be ignored.
        IpCommandsMethod:
          type: string
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: A string representing the HTTP method to use when making a request to `ip_commands_url`. Can be one of `POST` or `GET`. Defaults to `POST`.
        SmsCommandsUrl:
          type: string
          format: uri
          description: The URL that will receive a webhook when a Super SIM in the Fleet is used to send an SMS from your device to the SMS Commands number. Your server should respond with an HTTP status code in the 200 range; any response body will be ignored.
        SmsCommandsMethod:
          type: string
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: A string representing the HTTP method to use when making a request to `sms_commands_url`. Can be one of `POST` or `GET`. Defaults to `POST`.
        DataLimit:
          type: integer
          description: The total data usage (download and upload combined) in Megabytes that each Super SIM assigned to the Fleet can consume during a billing period (normally one month). Value must be between 1MB (1) and 2TB (2,000,000). Defaults to 1GB (1,000).
    CreateFleetRequest:
      type: object
      required:
      - NetworkAccessProfile
      properties:
        NetworkAccessProfile:
          type: string
          description: The SID or unique name of the Network Access Profile that will control which cellular networks the Fleet's SIMs can connect to.
        UniqueName:
          type: string
          description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource.
        DataEnabled:
          type: boolean
          description: Defines whether SIMs in the Fleet are capable of using 2G/3G/4G/LTE/CAT-M data connectivity. Defaults to `true`.
        DataLimit:
          type: integer
          description: The total data usage (download and upload combined) in Megabytes that each Super SIM assigned to the Fleet can consume during a billing period (normally one month). Value must be between 1MB (1) and 2TB (2,000,000). Defaults to 1GB (1,000).
        IpCommandsUrl:
          type: string
          format: uri
          description: The URL that will receive a webhook when a Super SIM in the Fleet is used to send an IP Command from your device to a special IP address. Your server should respond with an HTTP status code in the 200 range; any response body will be ignored.
        IpCommandsMethod:
          type: string
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: A string representing the HTTP method to use when making a request to `ip_commands_url`. Can be one of `POST` or `GET`. Defaults to `POST`.
        SmsCommandsEnabled:
          type: boolean
          description: Defines whether SIMs in the Fleet are capable of sending and receiving machine-to-machine SMS via Commands. Defaults to `true`.
        SmsCommandsUrl:
          type: string
          format: uri
          description: The URL that will receive a webhook when a Super SIM in the Fleet is used to send an SMS from your device to the SMS Commands number. Your server should respond with an HTTP status code in the 200 range; any response body will be ignored.
        SmsCommandsMethod:
          type: string
          format: http-method
          enum:
          - HEAD
          - GET
          - POST
          - PATCH
          - PUT
          - DELETE
          description: A string representing the HTTP method to use when making a request to `sms_commands_url`. Can be one of `POST` or `GET`. Defaults to `POST`.
    fleet_enum_data_metering:
      type: string
      enum:
      - payg
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
