openapi: 3.2.0
info:
  title: Twilio SendGrid Email Suppressions API
  description: Send, manage, and analyze emails at scale using the Twilio SendGrid Email API. Supports transactional and marketing email, dynamic templates, email validation, sender authentication, suppressions management, and real-time analytics.
  version: '3.0'
  contact:
    name: Twilio SendGrid Support
    url: https://support.sendgrid.com
    email: support@sendgrid.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://api.sendgrid.com/v3
  description: SendGrid API v3
security:
- bearerAuth: []
tags:
- name: Suppressions
  description: Manage email suppressions and bounces
paths:
  /suppression/bounces:
    get:
      operationId: listBounces
      summary: Twilio List Bounced Emails
      tags:
      - Suppressions
      parameters:
      - name: start_time
        in: query
        schema:
          type: integer
          description: Start of date range (Unix timestamp)
      - name: end_time
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 500
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of bounces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bounce'
    delete:
      operationId: deleteBounces
      summary: Twilio Delete Bounces
      tags:
      - Suppressions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                delete_all:
                  type: boolean
                emails:
                  type: array
                  items:
                    type: string
                    format: email
      responses:
        '204':
          description: Bounces deleted
  /suppression/blocks:
    get:
      operationId: listBlocks
      summary: Twilio List Blocked Emails
      tags:
      - Suppressions
      parameters:
      - name: start_time
        in: query
        schema:
          type: integer
      - name: end_time
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 500
      responses:
        '200':
          description: List of blocks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Block'
  /suppression/unsubscribes:
    get:
      operationId: listGlobalUnsubscribes
      summary: Twilio List Global Unsubscribes
      tags:
      - Suppressions
      parameters:
      - name: start_time
        in: query
        schema:
          type: integer
      - name: end_time
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
          default: 500
      responses:
        '200':
          description: List of global unsubscribes
components:
  schemas:
    Block:
      type: object
      properties:
        email:
          type: string
          format: email
        status:
          type: string
        reason:
          type: string
        created:
          type: integer
    Bounce:
      type: object
      properties:
        email:
          type: string
          format: email
        status:
          type: string
          description: SMTP status code
        reason:
          type: string
          description: Bounce reason from the receiving server
        created:
          type: integer
          description: Unix timestamp when the bounce occurred
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use a SendGrid API key as the bearer token for authentication.
externalDocs:
  description: Twilio SendGrid API Documentation
  url: https://www.twilio.com/docs/sendgrid
