openapi: 3.2.0
info:
  title: Twilio Video Recording Rules API
  description: Build real-time video communication applications with Twilio's Video API. Create and manage video rooms, control participants, manage recordings and compositions, and configure recording rules.
  version: '2.0'
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://video.twilio.com/v1
  description: Twilio Video API v1
security:
- accountSid_authToken: []
tags:
- name: Recording Rules
  description: Manage recording rules for rooms
paths:
  /Rooms/{RoomSid}/RecordingRules:
    get:
      operationId: fetchRecordingRules
      summary: Twilio Fetch Recording Rules
      tags:
      - Recording Rules
      parameters:
      - $ref: '#/components/parameters/RoomSid'
      responses:
        '200':
          description: Recording rules
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordingRules'
    post:
      operationId: updateRecordingRules
      summary: Twilio Update Recording Rules
      description: Update the recording rules for a room to control which tracks are recorded.
      tags:
      - Recording Rules
      parameters:
      - $ref: '#/components/parameters/RoomSid'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                Rules:
                  type: string
                  description: JSON array of recording rules
      responses:
        '200':
          description: Recording rules updated
components:
  schemas:
    RecordingRules:
      type: object
      properties:
        room_sid:
          type: string
        rules:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - include
                - exclude
              all:
                type: boolean
              kind:
                type: string
                enum:
                - audio
                - video
              publisher:
                type: string
              track:
                type: string
        date_created:
          type: string
          format: date-time
        date_updated:
          type: string
          format: date-time
  parameters:
    RoomSid:
      name: RoomSid
      in: path
      required: true
      description: The SID or unique name of the room
      schema:
        type: string
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
      description: Use your Twilio Account SID as the username and Auth Token as the password for HTTP Basic authentication.
externalDocs:
  description: Twilio Video API Documentation
  url: https://www.twilio.com/docs/video
