openapi: 3.0.1
info:
  title: Twilio - Accounts A2p Webhooks API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Webhooks
  description: Configure event webhooks
paths:
  /Services/{ServiceSid}/Webhooks:
    get:
      operationId: listWebhooks
      summary: Twilio List Webhooks
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      responses:
        '200':
          description: List of webhooks
    post:
      operationId: createWebhook
      summary: Twilio Create a Webhook
      tags:
      - Webhooks
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - FriendlyName
              - EventTypes
              - WebhookUrl
              properties:
                FriendlyName:
                  type: string
                EventTypes:
                  type: array
                  items:
                    type: string
                WebhookUrl:
                  type: string
                  format: uri
                Status:
                  type: string
                  enum:
                  - enabled
                  - disabled
      responses:
        '201':
          description: Webhook created
components:
  parameters:
    ServiceSid:
      name: ServiceSid
      in: path
      required: true
      description: The SID of the Verify service
      schema:
        type: string
        pattern: ^VA[0-9a-fA-F]{32}$
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
