openapi: 3.2.0
info:
  title: Twilio - Accounts A2p Policies API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Policies
paths:
  /v1/Policies:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
      className: policies
    get:
      description: Retrieve a list of all Policys.
      tags:
      - Policies
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPoliciesResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListPolicies
      x-maturity:
      - GA
  /v1/Policies/{Sid}:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
      className: policies
    get:
      description: Fetch specific Policy Instance.
      tags:
      - Policies
      parameters:
      - name: Sid
        in: path
        description: The unique string that identifies the Policy resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RN[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.policies'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchPolicies
      x-maturity:
      - GA
components:
  schemas:
    trusthub.v1.policies:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^RN[0-9a-fA-F]{32}$
          description: The unique string that identifies the Policy resource.
        friendly_name:
          type:
          - string
          - 'null'
          description: A human-readable description that is assigned to describe the Policy resource. Examples can include Primary Customer profile policy
        requirements:
          description: The SID of an object that holds the policy information
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The absolute URL of the Policy resource.
    ListPoliciesResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/trusthub.v1.policies'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
