openapi: 3.2.0
info:
  title: Twilio Verify Access Tokens API
  description: User verification and two-factor authentication API. Send verification codes via SMS, voice, email, WhatsApp, or push notifications. Supports TOTP, push authentication, and silent network authentication for fraud prevention and user identity verification.
  version: '2.0'
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://verify.twilio.com/v2
  description: Twilio Verify API v2
security:
- accountSid_authToken: []
tags:
- name: Access Tokens
  description: Generate access tokens for SDKs
paths:
  /Services/{ServiceSid}/AccessTokens:
    post:
      operationId: createAccessToken
      summary: Twilio Create an Access Token
      description: Generate an access token for use with Verify Push or TOTP SDKs.
      tags:
      - Access Tokens
      parameters:
      - $ref: '#/components/parameters/ServiceSid'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - Identity
              - FactorType
              properties:
                Identity:
                  type: string
                FactorType:
                  type: string
                  enum:
                  - push
                  - totp
                FactorFriendlyName:
                  type: string
                Ttl:
                  type: integer
                  description: Token time to live in seconds
                  default: 60
      responses:
        '201':
          description: Access token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
components:
  schemas:
    AccessToken:
      type: object
      properties:
        sid:
          type: string
        account_sid:
          type: string
          pattern: ^AC[0-9a-fA-F]{32}$
        service_sid:
          type: string
          pattern: ^VA[0-9a-fA-F]{32}$
        entity_identity:
          type: string
        factor_type:
          type: string
          enum:
          - push
          - totp
        factor_friendly_name:
          type: string
        token:
          type: string
          description: The access token string
        ttl:
          type: integer
        date_created:
          type: string
          format: date-time
        url:
          type: string
          format: uri
  parameters:
    ServiceSid:
      name: ServiceSid
      in: path
      required: true
      description: The SID of the Verify service
      schema:
        type: string
        pattern: ^VA[0-9a-fA-F]{32}$
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
      description: Use your Twilio Account SID as the username and Auth Token as the password for HTTP Basic authentication.
externalDocs:
  description: Twilio Verify API Documentation
  url: https://www.twilio.com/docs/verify/api
