openapi: 3.2.0
info:
  title: Twilio Flex Insights API
  description: Programmable digital engagement center API for building customized omnichannel contact center solutions. Manage Flex configuration, channels, flows, interactions, plugins, and worker insights for customer communication across voice, SMS, chat, WhatsApp, and more.
  version: '2.0'
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://flex-api.twilio.com/v1
  description: Twilio Flex API v1
- url: https://flex-api.twilio.com/v2
  description: Twilio Flex API v2
security:
- accountSid_authToken: []
tags:
- name: Insights
  description: Access Flex Insights questionnaires and assessments
paths:
  /Insights/QualityManagement/Questionnaires:
    get:
      operationId: listQuestionnaires
      summary: Twilio List Questionnaires
      tags:
      - Insights
      parameters:
      - name: Token
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of questionnaires
    post:
      operationId: createQuestionnaire
      summary: Twilio Create a Questionnaire
      tags:
      - Insights
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - Name
              properties:
                Name:
                  type: string
                Description:
                  type: string
                Active:
                  type: boolean
      responses:
        '201':
          description: Questionnaire created
components:
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
      description: Use your Twilio Account SID as the username and Auth Token as the password for HTTP Basic authentication.
externalDocs:
  description: Twilio Flex API Documentation
  url: https://www.twilio.com/docs/flex
