openapi: 3.2.0
info:
  title: Twilio Accounts Auth Tokens API
  description: Manage Twilio accounts and subaccounts programmatically. Create and configure subaccounts, manage API credentials, promote auth tokens, and control account-level settings for identity and access management.
  version: '2.0'
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://api.twilio.com/2010-04-01
  description: Twilio REST API v1
- url: https://accounts.twilio.com/v1
  description: Twilio Accounts API v1
security:
- accountSid_authToken: []
tags:
- name: Auth Tokens
  description: Manage primary and secondary auth tokens
paths:
  /AuthTokens/Promote:
    post:
      operationId: promoteAuthToken
      summary: Twilio Promote Secondary Auth Token
      description: Promote the secondary auth token to primary. The old primary token will be invalidated immediately.
      tags:
      - Auth Tokens
      responses:
        '200':
          description: Auth token promoted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenPromotion'
  /AuthTokens/Secondary:
    post:
      operationId: createSecondaryAuthToken
      summary: Twilio Create a Secondary Auth Token
      description: Create a secondary auth token for the account. Use this to rotate auth tokens without downtime.
      tags:
      - Auth Tokens
      responses:
        '201':
          description: Secondary auth token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecondaryAuthToken'
    delete:
      operationId: deleteSecondaryAuthToken
      summary: Twilio Delete the Secondary Auth Token
      tags:
      - Auth Tokens
      responses:
        '204':
          description: Secondary auth token deleted
components:
  schemas:
    AuthTokenPromotion:
      type: object
      properties:
        account_sid:
          type: string
          pattern: ^AC[0-9a-fA-F]{32}$
        auth_token:
          type: string
          description: The new primary auth token
        date_created:
          type: string
          format: date-time
        date_updated:
          type: string
          format: date-time
        url:
          type: string
          format: uri
    SecondaryAuthToken:
      type: object
      properties:
        account_sid:
          type: string
          pattern: ^AC[0-9a-fA-F]{32}$
        secondary_auth_token:
          type: string
          description: The secondary auth token
        date_created:
          type: string
          format: date-time
        date_updated:
          type: string
          format: date-time
        url:
          type: string
          format: uri
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
      description: Use your Twilio Account SID as the username and Auth Token as the password for HTTP Basic authentication.
externalDocs:
  description: Twilio Accounts API Documentation
  url: https://www.twilio.com/docs/iam/api/account
