openapi: 3.2.0
info:
  title: Twilio SendGrid Email Lists API
  description: Send, manage, and analyze emails at scale using the Twilio SendGrid Email API. Supports transactional and marketing email, dynamic templates, email validation, sender authentication, suppressions management, and real-time analytics.
  version: '3.0'
  contact:
    name: Twilio SendGrid Support
    url: https://support.sendgrid.com
    email: support@sendgrid.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://api.sendgrid.com/v3
  description: SendGrid API v3
security:
- bearerAuth: []
tags:
- name: Lists
  description: Manage contact lists
paths:
  /marketing/lists:
    get:
      operationId: listContactLists
      summary: Twilio List Contact Lists
      tags:
      - Lists
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      responses:
        '200':
          description: List of contact lists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactListCollection'
    post:
      operationId: createContactList
      summary: Twilio Create a Contact List
      tags:
      - Lists
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '201':
          description: List created
  /marketing/lists/{list_id}:
    get:
      operationId: fetchContactList
      summary: Twilio Fetch a Contact List
      tags:
      - Lists
      parameters:
      - name: list_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Contact list details
    patch:
      operationId: updateContactList
      summary: Twilio Update a Contact List
      tags:
      - Lists
      parameters:
      - name: list_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: List updated
    delete:
      operationId: deleteContactList
      summary: Twilio Delete a Contact List
      tags:
      - Lists
      parameters:
      - name: list_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: delete_contacts
        in: query
        description: Whether to delete contacts in the list
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: List deleted
components:
  schemas:
    ContactListCollection:
      type: object
      properties:
        result:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              contact_count:
                type: integer
              _metadata:
                type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Use a SendGrid API key as the bearer token for authentication.
externalDocs:
  description: Twilio SendGrid API Documentation
  url: https://www.twilio.com/docs/sendgrid
