openapi: 3.2.0
info:
  title: Twilio Conversations API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://conversations.twilio.com
tags:
- name: Conversations
paths:
  /v1/Conversations:
    servers:
    - url: https://conversations.twilio.com
    description: A Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.
    x-twilio:
      defaultOutputProperties:
      - sid
      - chat_service_sid
      - friendly_name
      - date_created
      pathType: list
      dependentProperties:
        participants:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Participants
        messages:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Messages
        webhooks:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Webhooks
    post:
      description: Create a new conversation in your account's default service
      tags:
      - Conversations
      parameters:
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateConversation
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationRequest'
    get:
      description: Retrieve a list of conversations in your account's default service
      tags:
      - Conversations
      parameters:
      - name: StartDate
        in: query
        description: Start date or time in ISO8601 format for filtering list of Conversations. If a date is provided, the start time of the date is used (YYYY-MM-DDT00:00:00Z). Can be combined with other filters.
        schema:
          type: string
      - name: EndDate
        in: query
        description: End date or time in ISO8601 format for filtering list of Conversations. If a date is provided, the end time of the date is used (YYYY-MM-DDT23:59:59Z). Can be combined with other filters.
        schema:
          type: string
      - name: State
        in: query
        description: State for sorting and filtering list of Conversations. Can be `active`, `inactive` or `closed`
        schema:
          type: string
          $ref: '#/components/schemas/conversation_enum_state'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversation
      x-maturity:
      - GA
  /v1/Conversations/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.
    x-twilio:
      defaultOutputProperties:
      - sid
      - chat_service_sid
      - friendly_name
      - date_created
      pathType: instance
      dependentProperties:
        participants:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Participants
        messages:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Messages
        webhooks:
          mapping:
            conversation_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Webhooks
    post:
      description: Update an existing conversation in your account's default service
      tags:
      - Conversations
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateConversation
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationRequest'
    delete:
      description: Remove a conversation from your account's default service
      tags:
      - Conversations
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteConversation
      x-maturity:
      - GA
    get:
      description: Fetch a conversation from your account's default service
      tags:
      - Conversations
      parameters:
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversation
      x-maturity:
      - GA
  /v1/Conversations/{ConversationSid}/Messages:
    servers:
    - url: https://conversations.twilio.com
    description: A Message resource represents a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - index
      - author
      - date_created
      pathType: list
      dependentProperties:
        delivery_receipts:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Messages/{message_sid}/Receipts
        channel_metadata:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1None
      parent: /Conversations/{Sid}
    post:
      description: Add a new message to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_message_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateConversationMessage
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationMessageRequest'
    get:
      description: Retrieve a list of all messages in the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for messages.
        schema:
          type: string
        required: true
      - name: Order
        in: query
        description: 'The sort order of the returned messages. Can be: `asc` (ascending) or `desc` (descending), with `asc` as the default.'
        schema:
          type: string
          $ref: '#/components/schemas/conversation_message_enum_order_type'
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationMessageResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversationMessage
      x-maturity:
      - GA
  /v1/Conversations/{ConversationSid}/Messages/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Message resource represents a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - index
      - author
      - date_created
      pathType: instance
      dependentProperties:
        delivery_receipts:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1/Conversations/{conversation_sid}/Messages/{message_sid}/Receipts
        channel_metadata:
          mapping:
            conversation_sid: conversation_sid
            message_sid: sid
          resource_url: /v1None
      parent: /Conversations/{Sid}
    post:
      description: Update an existing message in the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_message_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateConversationMessage
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationMessageRequest'
    delete:
      description: Remove a message from the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_message_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteConversationMessage
      x-maturity:
      - GA
    get:
      description: Fetch a message from the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversationMessage
      x-maturity:
      - GA
  /v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Message Receipt resource represents a delivery/read receipt of a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      pathType: instance
      parent: /Conversations/{ConversationSid}/Messages/{Sid}
      mountName: delivery_receipts
    get:
      description: Fetch the delivery and read receipts of the conversation message
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: MessageSid
        in: path
        description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^DY[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_message.conversation_message_receipt'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversationMessageReceipt
      x-maturity:
      - GA
  /v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts:
    servers:
    - url: https://conversations.twilio.com
    description: A Message Receipt resource represents a delivery/read receipt of a message in a conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - message_sid
      - status
      - date_created
      pathType: list
      parent: /Conversations/{ConversationSid}/Messages/{Sid}
      mountName: delivery_receipts
    get:
      description: Retrieve a list of all delivery and read receipts of the conversation message
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        schema:
          type: string
        required: true
      - name: MessageSid
        in: path
        description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationMessageReceiptResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversationMessageReceipt
      x-maturity:
      - GA
  /v1/Conversations/{ConversationSid}/Participants:
    servers:
    - url: https://conversations.twilio.com
    description: A Participant resource represents a member of the conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - messaging_binding
      pathType: list
      parent: /Conversations/{Sid}
    post:
      description: Add a new participant to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_participant_enum_webhook_enabled_type'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateConversationParticipant
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationParticipantRequest'
    get:
      description: Retrieve a list of all participants of the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for participants.
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationParticipantResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversationParticipant
      x-maturity:
      - GA
  /v1/Conversations/{ConversationSid}/Participants/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Participant resource represents a member of the conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - messaging_binding
      pathType: instance
      parent: /Conversations/{Sid}
    post:
      description: Update an existing participant in the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_participant_enum_webhook_enabled_type'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateConversationParticipant
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationParticipantRequest'
    delete:
      description: Remove a participant from the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
        required: true
      - name: X-Twilio-Webhook-Enabled
        in: header
        description: The X-Twilio-Webhook-Enabled HTTP request header
        schema:
          type: string
          $ref: '#/components/schemas/conversation_participant_enum_webhook_enabled_type'
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteConversationParticipant
      x-maturity:
      - GA
    get:
      description: Fetch a participant of the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource. Alternatively, you can pass a Participant's `identity` rather than the SID.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversationParticipant
      x-maturity:
      - GA
  /v1/Conversations/{ConversationSid}/Webhooks:
    servers:
    - url: https://conversations.twilio.com
    description: A Scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - target
      pathType: list
      parent: /Conversations/{Sid}
    get:
      description: Retrieve a list of all webhooks scoped to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationScopedWebhookResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListConversationScopedWebhook
      x-maturity:
      - GA
    post:
      description: Create a new webhook scoped to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateConversationScopedWebhook
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateConversationScopedWebhookRequest'
  /v1/Conversations/{ConversationSid}/Webhooks/{Sid}:
    servers:
    - url: https://conversations.twilio.com
    description: A Scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.
    x-twilio:
      defaultOutputProperties:
      - sid
      - target
      pathType: instance
      parent: /Conversations/{Sid}
    get:
      description: Fetch the configuration of a conversation-scoped webhook
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchConversationScopedWebhook
      x-maturity:
      - GA
    post:
      description: Update an existing conversation-scoped webhook
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateConversationScopedWebhook
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateConversationScopedWebhookRequest'
    delete:
      description: Remove an existing webhook scoped to the conversation
      tags:
      - Conversations
      parameters:
      - name: ConversationSid
        in: path
        description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        schema:
          type: string
        required: true
      - name: Sid
        in: path
        description: A 34 character string that uniquely identifies this resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteConversationScopedWebhook
      x-maturity:
      - GA
components:
  schemas:
    conversations.v1.conversation.conversation_message.conversation_message_receipt:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this participant.
        conversation_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^DY[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        message_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
          description: The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to
        channel_message_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^[a-zA-Z]{2}[0-9a-fA-F]{32}$
          description: 'A messaging channel-specific identifier for the message delivered to participant e.g. `SMxx` for SMS, `WAxx` for Whatsapp etc. '
        participant_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^MB[0-9a-fA-F]{32}$
          description: The unique ID of the participant the delivery receipt belongs to.
        status:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/conversation_message_receipt_enum_delivery_status'
          description: The message delivery status, can be `read`, `failed`, `delivered`, `undelivered`, `sent` or null.
        error_code:
          type:
          - integer
          - 'null'
          description: 'The message [delivery error code](https://www.twilio.com/docs/sms/api/message-resource#delivery-related-errors) for a `failed` status, '
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated. `null` if the delivery receipt has not been updated.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource URL for this delivery receipt.
    conversations.v1.conversation:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this conversation.
        chat_service_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) this conversation belongs to.
        messaging_service_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^MG[0-9a-fA-F]{32}$
          description: The unique ID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) this conversation belongs to.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        friendly_name:
          type:
          - string
          - 'null'
          description: The human-readable name of this conversation, limited to 256 characters. Optional.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        unique_name:
          type:
          - string
          - 'null'
          description: An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        attributes:
          type:
          - string
          - 'null'
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
          x-twilio:
            pii:
              handling: sensitive
              deleteSla: 30
        state:
          type:
          - string
          - 'null'
          $ref: '#/components/schemas/conversation_enum_state'
          description: Current state of this conversation. Can be either `active`, `inactive` or `closed` and defaults to `active`
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated.
        timers:
          description: Timer date values representing state update for this conversation.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource URL for this conversation.
        links:
          type:
          - object
          - 'null'
          format: uri-map
          description: Contains absolute URLs to access the [participants](https://www.twilio.com/docs/conversations/api/conversation-participant-resource), [messages](https://www.twilio.com/docs/conversations/api/conversation-message-resource) and [webhooks](https://www.twilio.com/docs/conversations/api/conversation-scoped-webhook-resource) of this conversation.
        bindings: {}
    ListConversationMessageResponse:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation.conversation_message'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    conversation_message_enum_webhook_enabled_type:
      type: string
      enum:
      - 'true'
      - 'false'
    conversation_participant_enum_webhook_enabled_type:
      type: string
      enum:
      - 'true'
      - 'false'
    conversations.v1.conversation.conversation_message:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this message.
        conversation_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        index:
          type:
          - integer
          - 'null'
          description: The index of the message within the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource).  Indices may skip numbers, but will always be in order of when the message was received.
        author:
          type:
          - string
          - 'null'
          description: The channel specific identifier of the message's author. Defaults to `system`.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        body:
          type:
          - string
          - 'null'
          description: The content of the message, can be up to 1,600 characters long.
          x-twilio:
            pii:
              handling: sensitive
              deleteSla: 30
        media:
          type:
          - array
          - 'null'
          items: {}
          description: 'An array of objects that describe the Message''s media, if the message contains media. Each object contains these fields: `content_type` with the MIME type of the media, `filename` with the name of the media, `sid` with the SID of the Media resource, and `size` with the media object''s file size in bytes. If the Message has no media, this value is `null`.'
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        attributes:
          type:
          - string
          - 'null'
          description: A string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
          x-twilio:
            pii:
              handling: sensitive
              deleteSla: 30
        participant_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^MB[0-9a-fA-F]{32}$
          description: The unique ID of messages's author participant. Null in case of `system` sent message.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated. `null` if the message has not been edited.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource API URL for this message.
        delivery:
          description: An object that contains the summary of delivery statuses for the message to non-chat participants.
        links:
          type:
          - object
          - 'null'
          format: uri-map
          description: Contains an absolute API resource URL to access the delivery & read receipts of this message.
        content_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
          description: The unique ID of the multi-channel [Rich Content](https://www.twilio.com/docs/content) template.
    conversation_message_enum_order_type:
      type: string
      enum:
      - asc
      - desc
    CreateConversationMessageRequest:
      type: object
      properties:
        Author:
          type: string
          description: The channel specific identifier of the message's author. Defaults to `system`.
        Body:
          type: string
          description: The content of the message, can be up to 1,600 characters long.
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated. `null` if the message has not been edited.
        Attributes:
          type: string
          description: A string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        MediaSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^ME[0-9a-fA-F]{32}$
          description: The Media SID to be attached to the new Message.
        ContentSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^HX[0-9a-fA-F]{32}$
          description: The unique ID of the multi-channel [Rich Content](https://www.twilio.com/docs/content) template, required for template-generated messages.  **Note** that if this field is set, `Body` and `MediaSid` parameters are ignored.
        ContentVariables:
          type: string
          description: A structurally valid JSON string that contains values to resolve Rich Content template variables.
        Subject:
          type: string
          description: The subject of the message, can be up to 256 characters long.
    conversation_scoped_webhook_enum_method:
      type: string
      enum:
      - GET
      - POST
    conversations.v1.conversation.conversation_participant:
      type: object
      properties:
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this participant.
        conversation_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^MB[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        identity:
          type:
          - string
          - 'null'
          description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        attributes:
          type:
          - string
          - 'null'
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
          x-twilio:
            pii:
              handling: sensitive
              deleteSla: 30
        messaging_binding:
          description: Information about how this participant exchanges messages with the conversation. A JSON parameter consisting of type and address fields of the participant.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        role_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          description: The SID of a conversation-level [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the participant.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource URL for this participant.
        last_read_message_index:
          type:
          - integer
          - 'null'
          description: Index of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
        last_read_timestamp:
          type:
          - string
          - 'null'
          description: Timestamp of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
    UpdateConversationRequest:
      type: object
      properties:
        FriendlyName:
          type: string
          description: The human-readable name of this conversation, limited to 256 characters. Optional.
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated.
        Attributes:
          type: string
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        MessagingServiceSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^MG[0-9a-fA-F]{32}$
          description: The unique ID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) this conversation belongs to.
        State:
          type: string
          $ref: '#/components/schemas/conversation_enum_state'
          description: Current state of this conversation. Can be either `active`, `inactive` or `closed` and defaults to `active`
        Timers.Inactive:
          type: string
          description: ISO8601 duration when conversation will be switched to `inactive` state. Minimum value for this timer is 1 minute.
        Timers.Closed:
          type: string
          description: ISO8601 duration when conversation will be switched to `closed` state. Minimum value for this timer is 10 minutes.
        UniqueName:
          type: string
          description: An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL.
        Bindings.Email.Address:
          type: string
          description: The default email address that will be used when sending outbound emails in this conversation.
        Bindings.Email.Name:
          type: string
          description: The default name that will be used when sending outbound emails in this conversation.
    conversation_scoped_webhook_enum_target:
      type: string
      enum:
      - webhook
      - trigger
      - studio
    conversations.v1.conversation.conversation_scoped_webhook:
      type: object
      properties:
        sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
          description: A 34 character string that uniquely identifies this resource.
        account_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          description: The unique ID of the [Account](https://www.twilio.com/docs/iam/api/account) responsible for this conversation.
        conversation_sid:
          type:
          - string
          - 'null'
          minLength: 34
          maxLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          description: The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.
        target:
          type:
          - string
          - 'null'
          description: 'The target of this webhook: `webhook`, `studio`, `trigger`'
        url:
          type:
          - string
          - 'null'
          format: uri
          description: An absolute API resource URL for this webhook.
        configuration:
          description: The configuration of this webhook. Is defined based on target.
        date_created:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was created.
        date_updated:
          type:
          - string
          - 'null'
          format: date-time
          description: The date that this resource was last updated.
    conversation_enum_state:
      type: string
      enum:
      - inactive
      - active
      - closed
    ListConversationResponse:
      type: object
      properties:
        conversations:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    CreateConversationScopedWebhookRequest:
      type: object
      required:
      - Target
      properties:
        Target:
          type: string
          $ref: '#/components/schemas/conversation_scoped_webhook_enum_target'
          description: 'The target of this webhook: `webhook`, `studio`, `trigger`'
        Configuration.Url:
          type: string
          description: The absolute url the webhook request should be sent to.
        Configuration.Method:
          type: string
          $ref: '#/components/schemas/conversation_scoped_webhook_enum_method'
          description: The HTTP method to be used when sending a webhook request.
        Configuration.Filters:
          type: array
          items:
            type: string
          description: The list of events, firing webhook event for this Conversation.
        Configuration.Triggers:
          type: array
          items:
            type: string
          description: The list of keywords, firing webhook event for this Conversation.
        Configuration.FlowSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          description: The studio flow SID, where the webhook should be sent to.
        Configuration.ReplayAfter:
          type: integer
          description: The message index for which and it's successors the webhook will be replayed. Not set by default
    UpdateConversationMessageRequest:
      type: object
      properties:
        Author:
          type: string
          description: The channel specific identifier of the message's author. Defaults to `system`.
        Body:
          type: string
          description: The content of the message, can be up to 1,600 characters long.
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated. `null` if the message has not been edited.
        Attributes:
          type: string
          description: A string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        Subject:
          type: string
          description: The subject of the message, can be up to 256 characters long.
    ListConversationParticipantResponse:
      type: object
      properties:
        participants:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation.conversation_participant'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    UpdateConversationParticipantRequest:
      type: object
      properties:
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated.
        Attributes:
          type: string
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        RoleSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          description: The SID of a conversation-level [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the participant.
        MessagingBinding.ProxyAddress:
          type: string
          description: The address of the Twilio phone number that the participant is in contact with. 'null' value will remove it.
        MessagingBinding.ProjectedAddress:
          type: string
          description: The address of the Twilio phone number that is used in Group MMS. 'null' value will remove it.
        Identity:
          type: string
          description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
        LastReadMessageIndex:
          type:
          - integer
          - 'null'
          description: Index of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
        LastReadTimestamp:
          type: string
          description: Timestamp of last “read” message in the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for the Participant.
    ListConversationScopedWebhookResponse:
      type: object
      properties:
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
    UpdateConversationScopedWebhookRequest:
      type: object
      properties:
        Configuration.Url:
          type: string
          description: The absolute url the webhook request should be sent to.
        Configuration.Method:
          type: string
          $ref: '#/components/schemas/conversation_scoped_webhook_enum_method'
          description: The HTTP method to be used when sending a webhook request.
        Configuration.Filters:
          type: array
          items:
            type: string
          description: The list of events, firing webhook event for this Conversation.
        Configuration.Triggers:
          type: array
          items:
            type: string
          description: The list of keywords, firing webhook event for this Conversation.
        Configuration.FlowSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          description: The studio flow SID, where the webhook should be sent to.
    CreateConversationRequest:
      type: object
      properties:
        FriendlyName:
          type: string
          description: The human-readable name of this conversation, limited to 256 characters. Optional.
        UniqueName:
          type: string
          description: An application-defined string that uniquely identifies the resource. It can be used to address the resource in place of the resource's `sid` in the URL.
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated.
        MessagingServiceSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^MG[0-9a-fA-F]{32}$
          description: The unique ID of the [Messaging Service](https://www.twilio.com/docs/messaging/api/service-resource) this conversation belongs to.
        Attributes:
          type: string
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        State:
          type: string
          $ref: '#/components/schemas/conversation_enum_state'
          description: Current state of this conversation. Can be either `active`, `inactive` or `closed` and defaults to `active`
        Timers.Inactive:
          type: string
          description: ISO8601 duration when conversation will be switched to `inactive` state. Minimum value for this timer is 1 minute.
        Timers.Closed:
          type: string
          description: ISO8601 duration when conversation will be switched to `closed` state. Minimum value for this timer is 10 minutes.
        Bindings.Email.Address:
          type: string
          description: The default email address that will be used when sending outbound emails in this conversation.
        Bindings.Email.Name:
          type: string
          description: The default name that will be used when sending outbound emails in this conversation.
    conversation_message_receipt_enum_delivery_status:
      type: string
      enum:
      - read
      - failed
      - delivered
      - undelivered
      - sent
    conversation_enum_webhook_enabled_type:
      type: string
      enum:
      - 'true'
      - 'false'
    CreateConversationParticipantRequest:
      type: object
      properties:
        Identity:
          type: string
          description: A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.
        MessagingBinding.Address:
          type: string
          description: The address of the participant's device, e.g. a phone or WhatsApp number. Together with the Proxy address, this determines a participant uniquely. This field (with proxy_address) is only null when the participant is interacting from an SDK endpoint (see the 'identity' field).
        MessagingBinding.ProxyAddress:
          type: string
          description: The address of the Twilio phone number (or WhatsApp number) that the participant is in contact with. This field, together with participant address, is only null when the participant is interacting from an SDK endpoint (see the 'identity' field).
        DateCreated:
          type: string
          format: date-time
          description: The date that this resource was created.
        DateUpdated:
          type: string
          format: date-time
          description: The date that this resource was last updated.
        Attributes:
          type: string
          description: An optional string metadata field you can use to store any data you wish. The string value must contain structurally valid JSON if specified.  **Note** that if the attributes are not set "{}" will be returned.
        MessagingBinding.ProjectedAddress:
          type: string
          description: The address of the Twilio phone number that is used in Group MMS. Communication mask for the Conversation participant with Identity.
        RoleSid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          description: The SID of a conversation-level [Role](https://www.twilio.com/docs/conversations/api/role-resource) to assign to the participant.
    ListConversationMessageReceiptResponse:
      type: object
      properties:
        delivery_receipts:
          type: array
          items:
            $ref: '#/components/schemas/conversations.v1.conversation.conversation_message.conversation_message_receipt'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type:
              - string
              - 'null'
              format: uri
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type:
              - string
              - 'null'
              format: uri
            url:
              type: string
              format: uri
            key:
              type: string
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
