openapi: 3.2.0
info:
  title: Twilio Flex Web Channels API
  description: Programmable digital engagement center API for building customized omnichannel contact center solutions. Manage Flex configuration, channels, flows, interactions, plugins, and worker insights for customer communication across voice, SMS, chat, WhatsApp, and more.
  version: '2.0'
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
servers:
- url: https://flex-api.twilio.com/v1
  description: Twilio Flex API v1
- url: https://flex-api.twilio.com/v2
  description: Twilio Flex API v2
security:
- accountSid_authToken: []
tags:
- name: Web Channels
  description: Manage web chat channels
paths:
  /WebChannels:
    post:
      operationId: createWebChannel
      summary: Twilio Create a Web Channel
      description: Create a new web chat channel for customer interaction.
      tags:
      - Web Channels
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - FlexFlowSid
              - Identity
              - CustomerFriendlyName
              - ChatFriendlyName
              properties:
                FlexFlowSid:
                  type: string
                Identity:
                  type: string
                CustomerFriendlyName:
                  type: string
                ChatFriendlyName:
                  type: string
                ChatUniqueName:
                  type: string
                PreEngagementData:
                  type: string
                  description: JSON string with pre-engagement form data
      responses:
        '201':
          description: Web channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebChannel'
  /WebChannels/{ChannelSid}:
    get:
      operationId: fetchWebChannel
      summary: Twilio Fetch a Web Channel
      tags:
      - Web Channels
      parameters:
      - name: ChannelSid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Web channel details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebChannel'
    post:
      operationId: updateWebChannel
      summary: Twilio Update a Web Channel
      tags:
      - Web Channels
      parameters:
      - name: ChannelSid
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                ChatStatus:
                  type: string
                  enum:
                  - inactive
                PostEngagementData:
                  type: string
      responses:
        '200':
          description: Web channel updated
    delete:
      operationId: deleteWebChannel
      summary: Twilio Delete a Web Channel
      tags:
      - Web Channels
      parameters:
      - name: ChannelSid
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Web channel deleted
components:
  schemas:
    WebChannel:
      type: object
      properties:
        sid:
          type: string
        account_sid:
          type: string
          pattern: ^AC[0-9a-fA-F]{32}$
        flex_flow_sid:
          type: string
        url:
          type: string
          format: uri
        date_created:
          type: string
          format: date-time
        date_updated:
          type: string
          format: date-time
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
      description: Use your Twilio Account SID as the username and Auth Token as the password for HTTP Basic authentication.
externalDocs:
  description: Twilio Flex API Documentation
  url: https://www.twilio.com/docs/flex
