openapi: 3.0.1
info:
  title: Twilio - Accounts A2p Secrets API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: Secrets
paths:
  /v1/Secrets:
    servers:
    - url: https://microvisor.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: list
      mountName: account_secrets
    get:
      description: Retrieve a list of all Secrets for an Account.
      tags:
      - Secrets
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountSecretResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListAccountSecret
      x-maturity:
      - Preview
    post:
      description: Create a secret for an Account.
      tags:
      - Secrets
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.account_secret'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateAccountSecret
      x-maturity:
      - Preview
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAccountSecretRequest'
  /v1/Secrets/{Key}:
    servers:
    - url: https://microvisor.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
      mountName: account_secrets
    get:
      description: Retrieve a Secret for an Account.
      tags:
      - Secrets
      parameters:
      - name: Key
        in: path
        description: The secret key; up to 100 characters.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.account_secret'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchAccountSecret
      x-maturity:
      - Preview
    post:
      description: Update a secret for an Account.
      tags:
      - Secrets
      parameters:
      - name: Key
        in: path
        description: The secret key; up to 100 characters.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microvisor.v1.account_secret'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateAccountSecret
      x-maturity:
      - Preview
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateAccountSecretRequest'
    delete:
      description: Delete a secret for an Account.
      tags:
      - Secrets
      parameters:
      - name: Key
        in: path
        description: The secret key; up to 100 characters.
        schema:
          type: string
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteAccountSecret
      x-maturity:
      - Preview
components:
  schemas:
    microvisor.v1.account_secret:
      type: object
      properties:
        key:
          type: string
          nullable: true
          description: The secret key; up to 100 characters.
        date_rotated:
          type: string
          format: date-time
          nullable: true
        url:
          type: string
          format: uri
          nullable: true
          description: The absolute URL of the Secret.
    UpdateAccountSecretRequest:
      type: object
      required:
      - Value
      properties:
        Value:
          type: string
          description: The secret value; up to 4096 characters.
    CreateAccountSecretRequest:
      type: object
      required:
      - Key
      - Value
      properties:
        Key:
          type: string
          description: The secret key; up to 100 characters.
        Value:
          type: string
          description: The secret value; up to 4096 characters.
    ListAccountSecretResponse:
      type: object
      properties:
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/microvisor.v1.account_secret'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type: string
              format: uri
              nullable: true
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type: string
              format: uri
              nullable: true
            url:
              type: string
              format: uri
            key:
              type: string
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
