openapi: 3.0.1
info:
  title: Twilio - Accounts A2p EndUsers API
  description: This is the public Twilio REST API.
  termsOfService: https://www.twilio.com/legal/tos
  contact:
    name: Twilio Support
    url: https://support.twilio.com
    email: support@twilio.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.52.0
servers:
- url: https://accounts.twilio.com
tags:
- name: EndUsers
paths:
  /v1/EndUsers:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: list
    post:
      description: Create a new End User.
      tags:
      - EndUsers
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.end_user'
          description: Created
      security:
      - accountSid_authToken: []
      operationId: CreateEndUser
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateEndUserRequest'
    get:
      description: Retrieve a list of all End User for an account.
      tags:
      - EndUsers
      parameters:
      - name: PageSize
        in: query
        description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
      - name: Page
        in: query
        description: The page index. This value is simply for client state.
        schema:
          type: integer
          minimum: 0
      - name: PageToken
        in: query
        description: The page token. This is provided by the API.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEndUserResponse'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: ListEndUser
      x-maturity:
      - GA
  /v1/EndUsers/{Sid}:
    servers:
    - url: https://trusthub.twilio.com
    description: 'TODO: Resource-level docs'
    x-twilio:
      defaultOutputProperties:
      - sid
      - friendly_name
      pathType: instance
    get:
      description: Fetch specific End User Instance.
      tags:
      - EndUsers
      parameters:
      - name: Sid
        in: path
        description: The unique string created by Twilio to identify the End User resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IT[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.end_user'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: FetchEndUser
      x-maturity:
      - GA
    post:
      description: Update an existing End User.
      tags:
      - EndUsers
      parameters:
      - name: Sid
        in: path
        description: The unique string created by Twilio to identify the End User resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IT[0-9a-fA-F]{32}$
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/trusthub.v1.end_user'
          description: OK
      security:
      - accountSid_authToken: []
      operationId: UpdateEndUser
      x-maturity:
      - GA
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateEndUserRequest'
    delete:
      description: Delete a specific End User.
      tags:
      - EndUsers
      parameters:
      - name: Sid
        in: path
        description: The unique string created by Twilio to identify the End User resource.
        schema:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IT[0-9a-fA-F]{32}$
        required: true
      responses:
        '204':
          description: The resource was deleted successfully.
      security:
      - accountSid_authToken: []
      operationId: DeleteEndUser
      x-maturity:
      - GA
components:
  schemas:
    CreateEndUserRequest:
      type: object
      required:
      - FriendlyName
      - Type
      properties:
        FriendlyName:
          type: string
          description: The string that you assigned to describe the resource.
        Type:
          type: string
          description: The type of end user of the Bundle resource - can be `individual` or `business`.
        Attributes:
          description: The set of parameters that are the attributes of the End User resource which are derived End User Types.
    ListEndUserResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/trusthub.v1.end_user'
        meta:
          type: object
          properties:
            first_page_url:
              type: string
              format: uri
            next_page_url:
              type: string
              format: uri
              nullable: true
            page:
              type: integer
            page_size:
              type: integer
            previous_page_url:
              type: string
              format: uri
              nullable: true
            url:
              type: string
              format: uri
            key:
              type: string
    trusthub.v1.end_user:
      type: object
      properties:
        sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^IT[0-9a-fA-F]{32}$
          nullable: true
          description: The unique string created by Twilio to identify the End User resource.
        account_sid:
          type: string
          minLength: 34
          maxLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          nullable: true
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the End User resource.
        friendly_name:
          type: string
          nullable: true
          description: The string that you assigned to describe the resource.
        type:
          type: string
          nullable: true
          description: The type of end user of the Bundle resource - can be `individual` or `business`.
        attributes:
          nullable: true
          description: The set of parameters that are the attributes of the End Users resource which are listed in the End User Types.
          x-twilio:
            pii:
              handling: standard
              deleteSla: 30
        date_created:
          type: string
          format: date-time
          nullable: true
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        date_updated:
          type: string
          format: date-time
          nullable: true
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
        url:
          type: string
          format: uri
          nullable: true
          description: The absolute URL of the End User resource.
    UpdateEndUserRequest:
      type: object
      properties:
        FriendlyName:
          type: string
          description: The string that you assigned to describe the resource.
        Attributes:
          description: The set of parameters that are the attributes of the End User resource which are derived End User Types.
  securitySchemes:
    accountSid_authToken:
      type: http
      scheme: basic
x-maturity:
- name: GA
  description: This product is Generally Available.
- name: Beta
  description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
